[2015-10-08 19:26] mikepack commented on #393
Thanks a ton for submitting this issue, Jason. It should be resolved on master and will go out with the next release.

[2015-10-08 19:27] #413 closed

[2015-10-08 19:28] mikepack commented on #413
Thanks for submitting this issue, Alexis. A fix is in master if you'd like to give it a try, or it will go out with the next release.

[2015-10-08 19:53] rafaelfranca commented on #397
Ok. Now I know the reason of the error. Teaspoon starts the server with bind only in 127.0.0.1. This doesn't work for our case because we access our assets using the local CDN that don't use the loopback interface.

@mikepack would you accept a PR to configure the Rack server host so we can bind to `0.0.0.0`?

[2015-10-08 19:55] mikepack commented on #397
@rafaelfranca absolutely. The `port` is configurable, so it should be pretty easy follow that pattern.

[2015-10-08 19:56] jejacks0n commented on #397
Yeah, my oversight -- haven't had that sort of setup before, but seems reasonable.

[2015-10-08 19:56] rafaelfranca commented on #397
:+1: I'll work on it

[2015-10-08 21:16] mikepack commented on #415
Thanks for submitting this issue, Thibaut! It should be fixed in [this commit](f5e2ae25217ef2465d62f51eda8a10cfc4128c9c). Unlike Mocha, when focusing a spec in Jasmine, it does not also run the suite (ie surrounding `describe`). The Teaspoon code was assuming every spec has a suite. Can you point your Gemfile at master and see if everything has been fixed?

[2015-10-08 21:16] #415 closed

[2015-10-08 21:28] mikepack commented on #416
Thanks a ton for submitting this issue. Teaspoon is used pretty heavily and this has never come up. Since the asset seems to be loaded properly (you're not getting a asset pipeline compilation error), this feel like it's something with your code. I'm happy to keep thinking about this issue, but will close for now.

If you could set up a new Rails app, add the Teaspoon gem, reproduce this issue in

[2015-10-08 21:28] #416 closed

[2015-10-09 11:10] thbar commented on #415
@mikepack I just tested against e5e54a5f91876d13558d4d94fd82c53d9b50ed88 and both `fit` and `fdescribe` worked as expected. Thanks for the fix!

[2015-10-09 15:41] mikepack commented on #415
@thbar 🍻 thanks for checking. Have a great weekend!

[2015-10-09 17:38] mikepack commented on #405
Thanks again for the issue Ben. Sadly, I'm not able to reproduce. Closing for now, but happy to keep digging. Here's my steps:

[code]

[2015-10-09 17:38] #405 closed

[2015-10-12 20:17] schneems opened #419 "Error: ActionView::Template::Error: couldn't find file 'support/chai' with type 'application/javascript'"
I accidentally upgraded from 0.7.4 to 1.1.0. I'm now getting this error:

[code]

using

[code]

My file looks like this:

[code]

Are there upgrade guides somewhere?

[2015-10-12 20:22] mikepack commented on #419
Chai is [still there](https://github.com/modeset/teaspoon/blob/master/teaspoon-mocha/lib/teaspoon/mocha/assets/support/chai.js). I'll look into this. Thanks for reporting.

[2015-10-12 20:24] mikepack commented on #419
Oh, sorry, noticing you're using `teaspoon-jasmine`. Chai ships with `teaspoon-mocha`. Which framework were you using prior to upgrading?

[2015-10-12 20:24] mikepack commented on #419
Upgrade notes to 1.0: https://github.com/modeset/teaspoon/blob/master/CHANGELOG.md#100-5415

[2015-10-12 20:28] schneems commented on #419
That will probably do it, thanks for the quick response!

[2015-10-12 20:28] #419 closed

[2015-10-13 14:26] #397 closed

[2015-10-13 20:07] mikepack commented on #390
Closing but will reopen if #403 does not fix the issue.

[2015-10-13 20:07] #390 closed

[2015-10-14 04:47] jejacks0n commented on #410
Any updates?

[2015-10-14 04:48] jejacks0n commented on #377
I'll actually look into this tomorrow.

[2015-10-14 10:25] rstudner commented on #410
No.  I haven't been able to reproduce it.  The fact that it ever happened (since the .rb code doesn't seem to even allow for the possibility) is a head scratcher.  I'll close this and when I next see it, come back hah.

[2015-10-14 10:25] #410 closed

[2015-10-15 12:25] pratik60 opened #425 "Fail test on parse error"
Hi Guys

Really wondering why tests are not considered to fail when there is a parse error? Because of a parse error, it didn't run all the tests, and definitely should have ultimately result in a fail.

Any reason why the current behaviour is like that?

Starting the Teaspoon server...
...
Teaspoon running default suite at http://127.0.0.1:61748/teaspoon/default
SyntaxError: Parse error

......*.

[2015-10-15 22:24] mikepack commented on #425
How are you producing the parse error? The success or failure of a build is determined by whether you have any failing specs. In your example, nothing failed, so that's why it's a successful build.

[2015-10-15 22:35] jejacks0n commented on #425
We get these issues from time to time. It's because the order of how JavaScript is loaded and parsed. If there's a parse error, it's long before any JavaScript has the opportunity to do anything, and regardless, there's not a JavaScript exception raised or anything.

We could punt on execution of the specs (maybe), but a parse error is not indicative of if your javascript execute in the real world

[2015-10-15 22:35] #425 closed

[2015-10-16 04:59] pratik60 commented on #425
@mikepack @jejacks0n - We have 302 tests that are there...Because of a parse error, I'm assuming in the tests itself, some of them just didn't run!

Surely that is something that should be caught by teaspoon?

[2015-10-16 07:39] jejacks0n commented on #425
I'm willing to entertain it. Feel free to submit a pr.

[2015-10-16 15:42] mikepack commented on #425
I still don't understand how this error is being produced. Syntax errors in the specs or implementation bubble up as errors in the console output. @pratik60 can you explain how to produce this error?

[2015-10-22 16:32] ephracis opened #426 "Can't find variable: expect"
Added this to `Gemfile`:

    group :test, :development do
      gem 'teaspoon-mocha'
    end

Then ran `bundle` followed by the installation generator:

    ✗ rails generate teaspoon:install --coffee
          create  spec/teaspoon_env.rb
          create  spec/javascripts/support
          create  spec/javascripts/fixtures
          create  spec/javascripts/spec_helper.coffee
    +==============

[2015-10-22 16:56] mikepack commented on #426
Mocha doesn't ship with an assertion syntax. You'll need to add Chai and enable `expect`.

In your spec_helper.coffee:

[code]

[2015-10-22 16:56] #426 closed

[2015-11-03 16:42] hakunin opened #427 "CircleCI: ReferenceError: Can't find variable: Teaspoon"
Just installed Teaspoon and my example test works both as `/teaspoon` and in command line (without any warnings), but not on CircleCI, any ideas?

[code]

[2015-11-03 16:45] jejacks0n commented on #427
Hmm.. I think this has shown up before, but I don't fully understand it, can't remember the resolution, and don't use CircleCI often.

What I would assume is that the teaspoon assets aren't available in whatever environment circleCI is running the specs within.. locally try running `RAILS_ENV=test rake teaspoon`, and see if you get the same results, we can work from there.

[2015-11-03 16:47] hakunin commented on #427
Thanks for the speedy reply. `RAILS_ENV=test rake teaspoon` produces regular console output. I'll ask CircleCI guys since that might be issue created by them and report back.

The readme did say though that it runs smoothly with CircleCI, hopefully we'll be able to make it so.

[2015-11-03 16:50] jejacks0n commented on #427
It's kinda rough to debug from this angle since the output is just kinda missing, because Teaspoon can't do much unless it's loading the javascript. haha.

I think it must have to do with the assets not being loadable in that environment, but don't understand why they wouldn't be. There's also a lot of causes for this -- a quick search in the issues results in some pretty hefty issue threads, and

[2015-11-03 16:53] jejacks0n commented on #427
It would be great to get a resolution from CircleCI. I'd love to have easy out of the box support for it if there's something that we can adjust.

[2015-11-03 16:55] hakunin commented on #229
Hey @tarebyte, I am trying to make Teaspoon work with CircleCI and getting this, can you share some knowledge?
https://github.com/modeset/teaspoon/issues/427

[2015-11-05 10:02] volkergersabeck opened #428 "console.log not printed to stdout when using capybara-webkit"
using the capybara-webkit driver I was not able to see any output from console.log statements in my javascript on the stdout. switching to phantomjs showed the output immediately.

my configuration is the default:
#config.suppress_log = false

from my Gemfile.lock:
capybara-webkit (1.7.1)
teaspoon (1.1.1)
teaspoon-jasmine (2.3.4)

[2015-11-05 10:40] ronen opened #429 "`coverage.ignore` is respected by `bundle exec teaspoon` but not by `rake teaspoon`"
Hi, I'm starting up a new project and getting my infrastructure in place, setting up teaspoon.  Since I'm using [chruby](https://github.com/postmodern/chruby) my gems aren't excluded by the default `config.ignore`, so I added a pattern (`%r{/gems/}`).  I also customized `coverage.output_path` but aside from that it's just the vanilla installation -- I haven't even written any specs yet!

I found t

[2015-11-05 14:02] mikepack commented on #429
Thanks for the issue. Can you please provide the entirety of your `teaspoon_env.rb`?

[2015-11-05 14:09] ronen commented on #429
Sure, pasted it into: https://gist.github.com/ronen/355938f8c68d87ee64fa

[2015-11-07 18:45] rstudner opened #431 "Trying to use jasmine 2.0.0 against teaspoon 1.0.2 and getting an error"
If I have:

[code]

my test runs fine.

if I change it to:

[code]

I get the error:
[code]

[2015-11-07 18:45] #431 closed

[2015-11-07 18:46] jejacks0n commented on #431
figure you determined it was because you didn't change your version of jasmine?

[2015-11-07 18:49] rstudner commented on #431
Yes hah.  Now of coures I can't seem to change my version of jasmine, but I'm reading the docs

apparently this isn't it:

[code]

I don't put 2.0.0 there?  I guess I just leave it blank to get the 'latest' version (is there a version I can specify, just for completeness?)

[2015-11-07 19:28] rstudner opened #432 "Teaspoon and the Asset pipeline (re: a react question hah)"
I was wondering if teaspoon could make sure of the various transpilers in the asset pipeline.. specifically, why I can't write:

myComponent_spec.js.jsx

and thus put JSX statements etc into my tests.  Would make the testing of React components much much easier and since React is so popular, would give some more legs to the use cases teaspoon happily supports.

Thoughts?

[2015-11-07 19:29] jejacks0n commented on #432
if they're part of sprockets, they get transpiled.

[2015-11-07 19:35] #432 closed

[2015-11-07 19:58] rstudner commented on #432
Hrm.  I'm having mixed results.

I have a file:
AjaxSuccessFailureButton_spec.js.jsx in spec/javascripts/components

Sometimes it shows up in the list of tests.. sometimes it just... magically vanishes hah.

I can see 20 of my various test suites.. but this one is just... missing...?

No errors in console etc.

[2015-11-07 20:01] jejacks0n commented on #432
Ah, sorry. You can read about [Teaspoon configuration](https://github.com/modeset/teaspoon/wiki/Teaspoon-Configuration#suite-configuration-directives), specifically the `matcher` configuration directive.

[2015-11-07 20:03] jejacks0n commented on #432
I'm unsure why your spec would be a .jsx, but have at it. =)

[2015-11-07 20:07] rstudner commented on #432
Hah yeah.. just for React stuff, especially with multiple components, it just way easier to render them into the DOM/configure their props using the JSX syntax.  The "pure js" React syntax is fine for doing really trivial things, but if you want to make a mock component (re: chunk of DOM) to use with a react widget (think "yield") it gets to be insane without JSX.

[2015-11-07 20:08] jejacks0n commented on #432
Sounds cool. I haven't had the opportunity to get into React yet. Hope you're sorted now though. =)

[2015-11-07 20:10] rstudner commented on #432
Yep, is working perfectly.  I had the default matcher (as you suspected) and just forgot about that entire part of the Docs since it'd been so long since I'd had to get in there.

Thanks for the prompt responses and help -- much appreciated.

I'll try to update your docs (if you like) with a little subsection on 'setting up to test React' if you like based on these little config tweaks etc.

[2015-11-07 20:11] jejacks0n commented on #432
Yeah man, feel free to create a wiki article for it -- would be super valuable to others I'm sure.

[2015-11-09 10:01] hakunin commented on #427
So I haven't heard back from CircleCI, but I stubled upon a precompile hint in their guides and now I am a little bit closer:

my circle.yml:
[code]

Once precompiled, I get a different error:

[code]

Looking at the asset precompile step, the teaspoon file seems to be rendered:

[code]

I believe the readme should be updated with the asset precompile step, which seems a minimum to get somewhere.

[2015-11-09 10:34] hakunin commented on #427
I found the problem!!

I had set the domain attributes in test environments, which overrided where the server was looking for the assets, making it impossible to find them, because CircleCI doesn't run the server on localhost:3000.

So in theory, if you don't have that set in your project, it should run with CircleCI just fine.

[2015-11-09 10:34] #427 closed

[2015-11-09 17:40] hakunin opened #433 "Could hooks return something?"
Hi, I am just starting to write test for a JS heavy app and hooks seem super useful.

Only I was suprised to find that I can't have return value going back to client side, that would be super userful I think.

For instance, I use FactoryGirl, so it would make sense to create a setup database state with it and get that state as a returned value from the callback.

[2015-11-09 22:01] jejacks0n commented on #433
I understand the desire, but it seems unlikely that your application would be able to load that data via a similar method. Can you provide me with some reasoning for why, and how you would use that information returned from the server -- and a hook implementation that would not give you reliable and known values?

[2015-11-09 22:30] mikepack commented on #433
If I understand correctly, here is a use case:

1. Fire the hook in the spec
2. Create a record on the server
3. Return the record (as JSON to the client)
4. Use the returned data to make an assertion in the test

@hakunin using hooks is a smell. In retrospect it should not have been added. Hooks tie your JS tests to your server, making the tests much more stateful. Once tied to the server, making

[2015-11-10 00:03] jejacks0n commented on #433
Yeah, pretty much what @mikepack said. We discussed it, and I knew the PR to introduce hooks was something of a smell, but there were some compelling reasons for it, and at the time I was unsure the direction Teaspoon might take. Over time, what I've determined is that hooks are a last resort sort of thing -- and providing other tooling has proved more useful. The customizable boot partial for ins

[2015-11-10 06:01] hakunin commented on #433
If Teaspoon is only unit testing framework, then I understand you don't want to go that direction.

What I don't understand is why I should add another framework/testing setup just so I can do both unit and end-to-end tests of the same codebase and furthermore write them in a different language - Ruby instead of JavaScript.

What makes you think Teaspoon should be unit only? Maybe there is somethi

[2015-11-10 15:33] jejacks0n commented on #433
Well, it's not a Teaspoon limitation, it's a limitation of jasmine, mocha, and qunit.. And the inevitable breakdown of JavaScript limitations imposed by the browser. It also creates a coupling of your client tests to your server implementation, which in the long run is a bad idea -- but a lesson well learned yourself.

The JavaScript limitations for instance are, you can't navigate to a different

[2015-11-10 21:40] jejacks0n commented on #433
Well, it's not a Teaspoon limitation, it's a limitation of jasmine, mocha, and qunit.. And the inevitable breakdown of JavaScript limitations imposed by the browser. It also creates a coupling of your client tests to your server implementation, which in the long run is a bad idea -- but a lesson well learned yourself.

The JavaScript limitations for instance are, you can't navigate to a different

[2015-11-10 21:43] #433 closed

[2015-11-20 01:45] mockdeep opened #434 "jsx specs not working when upgraded to Sprockets 3.0"
We just upgraded to Sprockets 3.0 and everything in our app seems to be working alright, but tests with the extension `.js.jsx` no longer work from the command line. Booting into the browser they run fine, but from CLI we just get the cryptic "Syntax error: parse error" from phantomjs and:

[code]

Not sure if this is a teaspoon issue, but figured I'd start here. We're using `react-rails` which ad

[2015-11-20 01:48] mockdeep commented on #434
We have our matcher configured as:

[code]

[2015-11-25 00:08] jaredmoody opened #435 "Can't load fixtures when running from command line"
I'm having trouble running teaspoon on the command line at all, while everything is great in the browser:

[code]

`books.html` exists and is at `spec/javascripts/fixtures`, and that fixture path is specified in my `teaspoon_env.rb`:

Here's my full `teaspoon_env.rb`

[code]

I don't know if it's related, but I can't run them via rake either:

[code]

`RAILS_ENV=test rake teaspoon` also yields the

[2015-11-25 17:16] mikepack commented on #434
@mockdeep thanks for reporting this bug. I'll try to spend some turkey time looking into it. Do you know if it's specific to `.jxs` extensions?

[2015-11-25 17:17] mikepack commented on #435
@jaredmoody thanks for reporting this bug. I'll try to spend some turkey time looking into it.

[2015-11-25 17:34] mockdeep commented on #434
@mikepack Sorry, we only use `.js` and `.jsx` in our javascripts folder, so not sure if other extensions are a problem. We are using `haml` in our fixtures, and those seem to be fine.

[2015-11-30 10:16] elad-maimon commented on #435
I have the same issue for quite a time actually.
One thing I noticed is that it happens only when I'm using phantomjs. If I switch to selenium it works.

Another wired symptom, which I'm not sure if it's related or not but may help, is that although I have only 25 tests in the file, when running from CLI it shows 68 tests (some are repeated). On the web UI or in the CLI with selenium it shows 25.

[2015-12-02 11:22] agieche opened #436 "code coverage with expand_assets=false"
Hi,

we're trying to get code coverage via istanbul working with expand_assets=false. We're getting the following error message (coverage object is null, when using expand_assets=true, coverage object is defined):

[code]

__versions:__

[code]

__teaspoon_env:__

[code]

__spec/javascripts/spec_helper_desktop.js__

[code]

__spec/javascripts/spec_helper_mobile.js__

[code]

__example spec: spec/j

[2015-12-03 09:23] eliotc1986 commented on #223
@jejacks0n I'm having trouble including a fixture-specific stylesheet.

I have a file in spec/javascripts/stylesheets where I define the path to the stylesheet

how do you include a path to that fixture file in the xxx_spec.js file?

[2015-12-03 21:19] brewster1134 commented on #223
@eliotc1986 i created some helpers in my spec_helper

[code]

then in my specs...

[code]

this lets me load html fixtures, css, or js on demand as i need them in my spec.  the only thing i load in my spec_helper are globally shared assets.

maybe there is a more conventional way to do this though?

[2015-12-03 21:22] jejacks0n commented on #223
Thanks @brewster1134!

That seems like a good way to use it -- the css fixtures were never fleshed out because it's not super common. It was mostly about providing a place to put them, and how they're used is primarily up to the test harness that you create to handle those sorts of things.

[2015-12-03 21:30] brewster1134 commented on #223
yeah i like to use css to set `transition-duration`s to 0 VS using fake timers or whatever.  also `loadHtml` returns the `#fixture` element so you can do stuff like...

[code]

the `#fixture` element is loaded via teaspoon settings for `body_partial` in case anyone was wondering where that element was coming from.

[2015-12-03 21:39] jejacks0n commented on #223
Thanks for the info. =) And yeah, I've mostly needed it for transition overrides as well, and in integration (cucumber features) showing elements that need to be "visible" to interact with.

[2015-12-05 13:46] christian-schulze opened #437 "How to override Mocha's interface (UI setting)"
**Closing, as this is a duplicate of #438**

Is it possible to override Mocha's interface? See https://mochajs.org/#interfaces, and https://mochajs.org/#browser-configuration.

Currently it looks like the interface is hard coded to `bdd` here: https://github.com/modeset/teaspoon/blob/cdf46b24676c093f7a2b0ed8e8e473dd89a47564/teaspoon-mocha/lib/teaspoon/mocha/assets/teaspoon/mocha/intiialize.coffee.

[2015-12-05 13:46] christian-schulze opened #438 "How to override Mocha's interface (UI setting)?"
Is it possible to override Mocha's interface? See https://mochajs.org/#interfaces, and https://mochajs.org/#browser-configuration.

Currently it looks like the interface is hard coded to `bdd` here: https://github.com/modeset/teaspoon/blob/cdf46b24676c093f7a2b0ed8e8e473dd89a47564/teaspoon-mocha/lib/teaspoon/mocha/assets/teaspoon/mocha/intiialize.coffee.

I would like to, for example, use the `bdd-

[2015-12-05 14:54] ordinaryzelig commented on #405
Clearing the cache fixed it for me. https://github.com/rails/sprockets/issues/183#issuecomment-162203288

[2015-12-05 23:17] #437 closed

[2015-12-06 00:11] christian-schulze commented on #438
Have found a solution. With some pocking around `window.env` by adding `(console.log prop + ': ' + value) for prop, value of window.env` to `spec_helper.coffee`, I found:
[code]

Calling `window.env.ui('bdd-lazy-var')` in `spec_helper.coffee` works perfectly.

Perhaps this could be added to the Mocha wiki page to help future developers?

[2015-12-06 03:47] jejacks0n commented on #438
That's good info. Can I understand why you want to do this? I don't know that things will work when you change this, and am curious how you're using it.

---
Jeremy Jackson

[2015-12-06 04:11] christian-schulze commented on #438
I'm coming from an **rspec** background, where you can define lazy loaded variables using the `let` statement, and also assign a lazily loaded `subject` which you test in your assertions.

Whether this sort of feature addition to Mocha is valid is up for debate, so lets leave that for another discussion.

The [bdd-lazy-var](https://github.com/stalniy/bdd-lazy-var) module allows injecting this beha

[2015-12-06 21:02] #436 closed

[2015-12-06 21:14] mikepack commented on #436
Thank you for the excellent bug report. If you point your Gemfile at master, you should see a more friendly error message. The error you're seeing indicates the results could not be found because no files had been covered. In your case, they couldn't be found because you have `/spec/javascripts` in your ignore list and your helper is at `.../spec/javascripts/spec_helper_desktop.js`.

[2015-12-06 21:52] mikepack commented on #435
@jaredmoody can you confirm this isn't related to any of the issues here? https://github.com/modeset/teaspoon/search?q=Can%27t+find+variable%3A+Teaspoon&type=Issues&utf8=%E2%9C%93

[2015-12-06 22:29] mikepack commented on #434
The reason this is happening is because Teaspoon calls `#logical_path` on a sprockets asset in order to get a file URL that can be requested from the browser. We assume this returns a `.js` extension every time, but this is not the case with `.js.jsx` extensions, in which case it returns a `.jsx` extension.

This seems like it could be one of two things:

- Teaspoon should not use `#logical_path`

[2015-12-06 23:58] mockdeep commented on #434
@mikepack how are other extensions like `.coffee` handled?

[2015-12-07 00:15] mikepack commented on #434
It's mostly handled by sprockets. Sorry, I didn't provide a good resolution for the interim. If you're on Teaspoon 1.1.x, try setting this configuration:

[code]

[2015-12-07 01:06] mockdeep commented on #434
Thanks! At first blush it looks like that fixed it for me.

[2015-12-07 10:56] christian-schulze commented on #438
Will close this as everything is good.

[2015-12-07 10:56] #438 closed

[2015-12-07 15:52] mikepack commented on #434
:+1:

[2015-12-07 15:52] #434 closed

[2015-12-07 21:25] jejacks0n commented on #438
Thanks for the info!

[2015-12-08 14:30] udiudi opened #440 "Teaspoon tests fail after RSpec upgrade to 2.99"
Not sure if that's really related, but our Teaspoon tests are failing after we upgraded to Rspec 2.99.

We use Teaspoon 1.1.1, Jasmine 2.3.4, and seems like something really low-level is failing for us, an example:
[code]

Any ideas?

[2015-12-08 16:31] jejacks0n commented on #440
Well, I can tell you that teaspoon doesn't have a spec.$injector, so it's something about angular mocks and likely isn't teaspoon directly.

---
Jeremy Jackson

[2015-12-08 16:36] udiudi commented on #440
I see.. thanks, I'll start looking elsewhere.

[2015-12-08 16:36] #440 closed

[2015-12-10 12:36] samtgarson opened #441 "CLI command does not work when in CircleCI build environment"
When running `bundle exec teaspoon` in CircleCI's build environment, we received the following error message:

[code]

This did not occur when we used the Rake task, `rake teaspoon`

[2015-12-10 19:57] mikepack commented on #441
Can you please verify that this isn't related to any past CircleCI issues? https://github.com/modeset/teaspoon/issues?utf8=%E2%9C%93&q=CircleCI

[2015-12-11 01:59] jaredmoody commented on #435
@mikepack I don't think so. The only cases that seemed like it might the same were the issues with assets, but I don't have an asset host in the test environment and both `RAILS_ENV=test teaspoon` and `RAILS_ENV=test rake teaspoon` fail with the same "undefined method Split" error.

I may be having one of those issues as well in the development environment, but looks like a different issue in test

[2015-12-11 15:15] nwtn opened #442 "config path to istanbul"
Would it be possible to add a `coverage` config option for the path to istanbul? Or have teaspoon check `./node_modules/.bin/istanbul` for the executable?

I’d love to be able to put istanbul in my `package.json` and not have to rely on installing it globally, but doing this results in the `You requested coverage reports, but Teaspoon cannot find the istanbul binary. Run: npm install -g istanbul`

[2015-12-11 17:18] jejacks0n commented on #442
https://github.com/modeset/teaspoon/blob/master/lib/teaspoon/utility.rb

It simply looks for external commands that are accessible in your path, so you can add your custom instanbul path if you don't want it global.

What you're asking for was added at one point and removed. It makes it far more confusing, and made istanbul the outlier with checking in multiple places. Because it can exist in mult

[2015-12-11 17:18] #442 closed

[2015-12-18 19:57] Capncavedan opened #443 "With sprockets-rails 3.0.0, teaspoon expects assets to be precompiled"
Ruby 2.2.4, Rails 4.2.5, updated to sprockets-rails 3.0.0 from 2.3.3, encountered an issue where teaspoon running jasmine tests expected assets to be individually precompiled.

Tried adding `support/bind-poly.self.js` to the initializer as suggested, but then encountered same issue with the next .js file.

I’m unsure why teaspoon mentions it is running in production as the output of `p Rails.env`

[2015-12-18 21:51] jejacks0n commented on #443
which version of teaspoon? Have you checked master yet?

note to self: add teaspoon version display to the output so I don't have to ask.

[2015-12-21 13:36] Capncavedan commented on #443
Hi @jejacks0n - this is teaspoon 1.1.1

[2015-12-21 14:30] Capncavedan commented on #443
I did try the master branch just now, and received the same results.

[2015-12-21 16:49] evbots commented on #443
I'm experiencing the same issue.
Error: ActionView::Template::Error: Asset was not declared to be precompiled in production.

[2015-12-21 17:05] jejacks0n commented on #443
http://stackoverflow.com/questions/34344094/after-gem-update-test-fail-with-asset-was-not-declared-to-be-precompiled-in-pr

The interesting thing is that teaspoon does register assets for precompilation as seen here:

https://github.com/modeset/teaspoon/blob/master/lib/teaspoon/configuration.rb#L24
https://github.com/modeset/teaspoon/blob/master/lib/teaspoon/engine.rb#L49

So my guess is that 1. t

[2015-12-21 17:28] rafaelfranca commented on #443
@jejacks0n hi! I'm sprockets maintainer. What is happening is that teaspoon use [`javascript_tag` to include the users' defined test files](https://github.com/modeset/teaspoon/blob/cdcdc7d5d1608d6eaa9fc57e1b6e17552346fb1d/app/views/teaspoon/suite/_boot.html.erb#L1). Say you have the `test/javascript/unit/home_test.js` file. Teaspoon call `javascript_tag` with that as argument. That file is not reg

[2015-12-21 17:35] jejacks0n commented on #443
Thanks @rafaelfranca!  Teaspoon does the lookup at the time of execution, not at the time the engine is loaded -- this is so new files can be added and they'll show up.

Can we register assets without them stacking after the initial load -- at the time of execution basically? If so, we can add that call in the controller which should mean they're registered before trying to serve them. We'd collec

[2015-12-21 17:45] jejacks0n commented on #443
@rafaelfranca since you're here. =) Is there a way that we could move to help Teaspoon be less coupled to sprockets? There's been breaking changes with most releases of sprockets -- which is reasonable given that Teaspoon is an outlier in usage patterns. We haven't yet found the right balance to keep things functional and capture the feature set desired for a test runner and am curious if you have

[2015-12-21 17:45] rafaelfranca commented on #443
I think we can extend the `precompiled_asset_checker ` in the view instance to use the controller information `https://github.com/rails/sprockets-rails/blob/master/lib/sprockets/railtie.rb#L205`.

Something like

`self.precompiled_asset_checker = -> logical_path { Rails.application.asset_precompiled? logical_path || @suite.spec_assets.include? logical_path } `

[2015-12-21 17:52] jejacks0n commented on #443
Ah, thanks for the info. Will try this week to get that implemented on my end.

You get what I'm getting at with the coupling though? Even that `precompiled_asset_checker` method isn't part of an external API, so if that gets changed it will break Teaspoon.

My objective is to try and get a more complete/robust API from sprockets that can be more stable. I can provide a write up of areas of pain,

[2015-12-21 17:54] jejacks0n commented on #443
Worth noting, the coupling has been better recently, and we were able to remove most (if not all) areas where we had to branch based on the sprockets-rails version.

[2015-12-21 18:00] rafaelfranca commented on #443
We can consider that option as part of public API, but yeah, give me a write up with the areas of pain and we can find a solution together.

[2015-12-24 01:45] ccallebs commented on #197
After installing a fresh version I'm still getting this issue.

Gem versions
[code]

Everything else is in place from the install, except for removing

[code]

from spec_helper.coffee.

[2015-12-28 20:18] wanchic commented on #197
Using teaspoon with without coffee-script, I too am getting these errors.

Gem versions
[code]

I discovered that the issue stems from on of this upgrade:
[code]

As long as sprockets-rails is kept at 2.3.3, you should be fine. v3.0.0 seems to conflict at the moment.

Hope this helps (^_^)

[2015-12-28 22:11] jejacks0n commented on #197
https://github.com/modeset/teaspoon/issues/443

[2015-12-28 22:12] jejacks0n commented on #443
The recommended fix is to drop the sprockets version until this is addressed in master and released.

[2016-01-01 19:38] mfazekas commented on #443
FWIW: As a workaround i'm having this horrible monkey patch in my taspoon_env.rb:
[code]

[2016-01-04 21:09] estebanz01 commented on #435
+1 Here. I found that if I use phantomjs version 2.0, I got the same error reported here:
[code]

but if I change phantomjs to 1.9.8, spec runs as expected:
[code]

[2016-01-05 20:20] sb8244 commented on #443
We did this monkey patch:

[code]

This is the least intrusive and obvious way we thought of doing it. It only happens when teaspoon is running, so won't be a production issue

[2016-01-05 20:22] jejacks0n commented on #443
@sb8244 that's a great solution. Would you be willing to submit a PR where that is injected from within `engine.rb`, I would merge it and release. I've been out for the holidays and sick. :-/

[2016-01-05 20:46] sb8244 commented on #443
@jejacks0n I would be happy to

What do you think of creating a method in engine that does the little hack (sort of like is already there) and only executing that method when `Sprockets::VERSION.split(".")[0].to_i >= 3`. This way old sprockets won't be needlessly patched

[2016-01-05 20:47] jejacks0n commented on #443
that sounds perfect.

[2016-01-05 20:52] jejacks0n commented on #443
@mikepack just brought up a good point.. that path, is a glob route, and can be test/javascripts, or anything else you wanted it to be.

[2016-01-05 21:02] sb8244 commented on #443
Good point, a glob for standard names would be great.

Should a configuration option be exposed as well? This would allow someone to specify their own exemptions

[2016-01-05 21:05] jejacks0n commented on #443
I think `Teaspoon.configuration.asset_paths` would be essentially that. That already has a list of paths that are rails root relative. It seems like doing what you're doing for each of those paths would work, though I don't know how that would impact performance. Let's give that a shot.

[2016-01-05 21:09] jejacks0n commented on #443
To clarify, the glob path in conjunction with the asset paths configuration in teaspoon env is what enables putting test/spec files where you want them. I think we can use the asset paths configuration to determine if they're servable in an asset path teaspoon knows about, but they can also exist within your application asset paths, and teaspoon wouldn't know about those.

[2016-01-06 15:06] hwhelchel opened #445 "SyntaxError in a build does not fail."
I'm using 1.1.1 teaspoon and 2.3.4 teaspoon-jasmine

When I run the tests in browser I see that I am missing a parens. In CLI mode it displays that there is a syntax error but it doesn't fail the build.

CLI Mode
![screen shot 2016-01-06 at 9 52 29 am](https://cloud.githubusercontent.com/assets/4792375/12145561/ec1e4936-b45c-11e5-9db9-6552c93926a2.png)

Browser
![screen shot 2016-01-06 at 10 05 14

[2016-01-06 15:09] hwhelchel commented on #445
Looks like it might be an angular issue

[2016-01-08 22:06] NealJMD commented on #443
We're experiencing this issue too. Thanks for working to address it!

[2016-01-09 17:54] jejacks0n commented on #443
Digging into the code a bit I found what seems to be a relatively easy fix, but the proposed solution may need some review and discussion first.. it may also leave teaspoon sort of broken with a specific version combination, which we'll have to probably work around anyway.

If you want to keep up on that part of the discussion, check https://github.com/rails/sprockets-rails/issues/297

I'm using t

[2016-01-09 18:53] #443 closed

[2016-01-09 20:29] jejacks0n commented on #443
Teaspoon 1.1.2 was released. Update and see if it's working for you.

[2016-01-09 22:59] jejacks0n commented on #441
Closing, unless more information can be provided.

[2016-01-09 22:59] #441 closed

[2016-01-09 23:04] jejacks0n commented on #377
I clearly never looked into this, so I'm going to sweep this failure under the rug. ;-P

[2016-01-09 23:04] #377 closed

[2016-01-10 02:01] aptx4869 commented on #443
Teaspoon 1.12 still has the same problem

[2016-01-11 02:12] ajb commented on #443
Thanks for all the effort! Unfortunately this 1.1.2 is not working for us. It looks like the `#= require` directives are not actually resulting in the JS getting included.

[2016-01-11 17:05] jejacks0n commented on #443
@ajb, that doesn't seem related. If you're not getting an error when trying to load files that aren't in your precompile list I'd suggest looking at other issues, or creating a different one.

[2016-01-12 17:45] ajb opened #447 "Regression: Teaspoon 1.1.2 does not parse `//= require` directives when config.assets.debug = false"
(Originally commented in https://github.com/modeset/teaspoon/issues/443#issuecomment-170619612)

Isolated test case repo here: https://github.com/ajb/teaspoon_bug

- Run `rails server` and visit http://localhost:3000/teaspoon`. None of the assets that are required in `spec_helper.coffee` are included.
- Next, change `config.assets.debug` to `true` in `config/environments/development.rb`. It works

[2016-01-13 16:59] Coaxial commented on #435
I ran into this issue and here is what I found:

It seems the issue lies somewhere with PhantomJS. This is a binary of phantomjs 2.0.0 from a machine where `rake teaspoon` worked: http://s000.tinyupload.com/index.php?file_id=42632369713235520993 (sorry for the host, feel free to check the file for viruses before running it).

This binary is not the latest phantomjs 2.0. If I install the latest wit

[2016-01-13 17:04] estebanz01 commented on #435
When you put the binay in `.../phantomjs/2.0.1/bin` are you really sure that `teaspoon` is using that phantom version @Coaxial ?

[2016-01-13 17:10] Coaxial commented on #435
There is no other `phantomjs` binary installed on my machine so if it uses phantomjs at all, it would have to be the binary in that directory

[2016-01-13 19:36] Coaxial commented on #435
I did check, I searched the whole filesystem for a `phantomjs` binary and the only one coming up is the one installed by brew that I replaced with the version I linked above.

Besodes, using the installed `phantomjs` in its 2.0.1 version from the brew command triggers the problem discussed in this issue. Replacing the binary with the one linked above lets teaspoon run without issues.

[2016-01-14 15:37] jejacks0n commented on #435
So it sounds like a problem when phantomjs 2.0.1? That's helpful. I'll update and see if it's reproducible, and see if it's resolvable. Thanks. For now, I'd say use 2.0.0 if that's working correctly.

---
Jeremy Jackson

[2016-01-14 16:54] Coaxial commented on #435
I can't get `2.0.0` to compile on OS X 10.11, and the `2.0.0` from the official website doesn't uncompress with `upx` following their instructions. I give up, I'll just drop in the binary from tinyupload for now.

[2016-01-14 18:08] jejacks0n commented on #435
well, it's clearly not a teaspoon issue directly, but I'll still try to figure it out.

if you have npm installed, consider `sudo npm -g install phantomjs2` as an alternative.. looks like brew is failing, but npm just installs the binary precompiled.

[2016-01-14 19:15] estebanz01 commented on #435
I built the phantomjs from source in Ubuntu and tested. Indeed is the 2.0.0 version with teaspoon in 1.1.1. I'll try later with 1.1.2 to see what would happen.

[2016-01-14 19:23] jejacks0n commented on #435
2.0.0, or 2.0.1?

[2016-01-14 19:25] estebanz01 commented on #435
the latest tag version of phantom is 2.0.0 https://github.com/ariya/phantomjs/tags https://github.com/ariya/phantomjs/blob/master/src/consts.h#L38

[2016-01-14 19:37] estebanz01 commented on #435
I got the following output when updated to teaspoon 1.1.2

[code]

[2016-01-14 19:39] jejacks0n commented on #435
ah, I wonder if something changed about the XHR implementation or something.. ugg. browsers.

[2016-01-14 20:07] Coaxial commented on #435
I think the `2.0.1` version is a fix by @Vitallium for compiling issues with `brew`: https://github.com/Vitallium/phantomjs/releases/tag/2.0.1 so users still have a phantomjs option when running El Capitan and waiting for `2.1`.

[2016-01-14 21:53] estebanz01 commented on #435
I just compiled from source https://github.com/Vitallium/phantomjs/releases/tag/2.0.1 and this error, for me in Ubuntu, still happening.

[2016-01-15 01:30] jaredmoody commented on #435
FWIW I'm getting this error with phantomjs 2.0.0

[2016-01-15 01:37] Coaxial commented on #435
`phantomjs -v` isn't reliable, it says 2.0.0 for both 2.0.0 and 2.0.1

On January 14, 2016 8:30:28 PM EST, Jared Moody <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-01-15 06:13] Vitallium commented on #435
Hi guys. Someone mentioned me in a comment. PhantomJS dev here.

I found the problem yesterday. And can confirm that the problem is in AJAX requests.
New feature for capturing the content of requests sometimes breaks AJAX requests. It removes the body and status codes.

I'll fix it ASAP.

Thanks!

[2016-01-15 06:51] jejacks0n commented on #435
That's great, thanks so much for checking in and resolving it!

---
Jeremy Jackson

[2016-01-15 11:40] YorickPeterse opened #448 "Teaspoon::Registry#equal? is incompatible with Object#equal?"
Teaspoon::Registry defines an `equal?` instance method with two arguments in https://github.com/modeset/teaspoon/blob/cdf46b24676c093f7a2b0ed8e8e473dd89a47564/lib/teaspoon/registry.rb#L29. This signature is incompatible with `Object#equal?` which only takes a single argument. The rdoc even mentions the following:

[code]

This in turn breaks Rubinius as described in https://github.com/rubinius/rub

[2016-01-15 11:44] YorickPeterse commented on #448
I can cook up a PR for this but I'd like to know if there are any suggestions as to what to rename this method to first.

[2016-01-15 13:14] estebanz01 commented on #435
Thanks! That's awesome! :+1:

[2016-01-15 14:54] Coaxial commented on #435
Thanks!

[2016-01-15 17:45] jejacks0n commented on #448
The info is appreciated. I would rename it to `matches?` or `name_matches?` etc, and I would merge a PR to resolve that.

[2016-01-15 17:47] jejacks0n commented on #448
As a follow up, is this because teaspoon isn't working in Rubinius? If so, I appreciate your efforts here.

[2016-01-15 17:52] jejacks0n commented on #435
I'm closing this, as it will probably be resolved shortly and will only effect a small amount of people who have installed the version where ajax isn't behaving. Thanks everybody for the info, and thanks @Vitallium for checking in before I had to really dig into it. =)

[2016-01-15 17:52] #435 closed

[2016-01-15 17:53] YorickPeterse commented on #448
@jejacks0n I haven't actually ran Teaspoon itself just yet but I'll see if it's working or not.

[2016-01-15 18:15] jejacks0n commented on #448
Ah, were you doing an audit for Rubinius using github search or something?

[2016-01-15 18:56] YorickPeterse commented on #448
@jejacks0n No, at GitLab we might be interested in using Rubinius in the future. Since we're using Teaspoon I'm currently working on making sure everything at least works.

[2016-01-15 21:00] MihaiDinculescu commented on #405
I'm having the very same issue.
Clearing the cache does indeed fixes the rails app, but running tests throws

    Failure/Error: = stylesheet_link_tag    'application', media: 'all'
    LoadError:
      cannot load such file -- coffee_script

The issue occurs with sprockets-rails `3.0.0` and teaspoon `1.1.2`.

[2016-01-15 21:02] ordinaryzelig commented on #405
Not sure if the rake task is env-specific, but if it is, maybe it will help to throw in `RAILS_ENV=test`?

[2016-01-15 21:38] MihaiDinculescu commented on #405
The `tmp:clear` task? I don't think so, but I have tried. I also manually deleted all the contents of the `tmp` folder, no luck.

I can get it fixed only by:
a) Add `gem 'coffee-rails'` to the `:test` gem group.
or
b) Downgrade to `sprockets-rails 2.3.3`.

To me looks like `sprockets-rails 3.0.0` insists of requiring `coffee-rails` when used in conjunction with `teaspoon`.

[2016-01-21 15:41] jasper-lyons commented on #447
I am experiencing a very similar problem with the difference that changing the ```config.assets.debug``` doesn't seem to effect the outcome.

I will report back when I get some more info / figure out the problem.

teaspoon-jasmine: 2.3.4
teaspoon: 1.1.2
sprockets: 3.5.2
phantomjs: 2.0
rails: 4.2.5

[2016-01-26 17:59] mockdeep opened #451 "Rails regression upgrading from 4.2.5 to 4.2.5.1"
It looks like it might actually be an issue in rails, but when trying to apply the security upgrade teaspoon started failing with the error below. It looks like maybe the `allow_non_precompiled` option stopped working for some reason maybe?

[code]

[2016-01-26 18:57] jbrowning commented on #451
Looks like this has already been fixed on `master` via https://github.com/modeset/teaspoon/pull/450.

[2016-01-26 19:04] mockdeep commented on #451
Ah, cool.

[2016-01-26 19:08] #451 closed

[2016-01-26 20:00] psharpNumerex commented on #443
The rails 4.2.5.1 upgrade seems to have broken the fix.

Teaspoon tests were working fine prior to upgrading this morning, broken with:

Error: ActionView::Template::Error: Asset was not declared to be precompiled in production.
Add `Rails.application.config.assets.precompile += %w( support/bind-poly.self.js )` to `config/initializers/assets.rb` and restart your server

immediately after

[2016-01-26 20:07] kprinssu commented on #428
You'll need to run the webserver via ```rails s``` and go to ```http://localhost:3000/teaspoon``` to get console output.

[2016-01-26 21:58] jejacks0n commented on #443
@psharpNumerex fixed as of #450, released version 1.1.3 so update and test. =)

[2016-01-26 22:14] psharpNumerex commented on #443
Updated, still fails and when I look at the source in bundle show teaspoon, I see this in engine.rb:

if ActionView::VERSION::STRING == "4.2.5" || ActionView::VERSION::MAJOR >= 5

[2016-01-26 23:35] robgoodberry commented on #443
I was running into the same thing and after updating to 1.1.3 I received an error telling me to include teaspoon-qunit in my Gemfile. I did so and then received this again after:

[code]

[2016-01-27 00:00] jejacks0n commented on #443
So, funny thing.. I released the rails_5 branch as Teaspoon 1.1.3.. dang.

I'm releasing 1.1.4 before I leave today.

[2016-01-27 09:47] merwan commented on #443
With v1.1.4 we don't need the monkey patch in `teaspoon_env.rb` anymore.

[2016-01-29 22:52] erichummel commented on #447
in my own testing I can confirm that require directives are not being used, however the flag that worked for me (admittedly Teaspoon 1.1.4) was the suite.expand_assets = true in teaspoon.env.

This *dramatically* slows down my jasmine suites, and I would very much like to be able to serve a concatenated javascript blob rather than each individual file.

[2016-01-29 22:54] jejacks0n commented on #447
It seems likely to be related to some recent changes required by sprockets, but only a few people have reported it, so I'd like others to chime in if this is the case, so I can try and resolve it and capture it in a spec. More details are needed.

[2016-01-29 22:56] erichummel commented on #447
Wow - quick response - thanks. I'll see if I can find some more information that would help.

[2016-01-29 23:39] erichummel commented on #447
my front end guy locked our sass-rails gem to an old version, which in turn was locking an old version of sprockets (2.3.3) - I suspect that this may have contributed to this issue (though not for @ajb's example repo). I'm gonna tinker some and let you know.

[2016-01-29 23:42] jejacks0n commented on #447
if you check https://github.com/modeset/teaspoon/blob/master/lib/teaspoon/engine.rb#L99 you'll see a kinda ugly hack in there to work around the restrictions of sprockets 3+ -- I have an open issue (https://github.com/rails/sprockets-rails/issues/297) on sprockets-rails to see if @rafaelfranca has thoughts, but haven't heard back yet.

[2016-01-30 00:20] erichummel commented on #447
cool. I now understand why my front end guy tried the sass-rails upgrade and gave up, I've got some work on another thing I work on to do now so won't be able to finish my investigations til monday (i'm gonna be miles away from my computer over the weekend).

thank you for being so responsive @jejacks0n, I will do my best to help out as best I can on monday.

[2016-01-30 00:22] jejacks0n commented on #447
Yeah, I agree with the changes they've made with sprockets 3.0.0, but it'll probably throw a few kinks in for engines that were utilizing the less strict behavior in development environments.

[2016-01-30 00:33] erichummel commented on #447
heh yeah. judging by a few issues in their repo it does seem to be throwing some people for a loop.

[2016-02-05 10:03] robinpokorny commented on #408
I had this problem as well. The *default* suite caused some problems when run.

So I set `suite.matcher = ""` in the *default* suite configuration and override the *matcher* in the named suites. This way *default* is still present but it is empty.

[2016-02-08 15:11] hlascelles commented on #191
Apologies @mikeantonelli I've just seen this! No we don't I'm afraid. Just rather a large and convoluted engine. If / when it is broken down I will post one...

[2016-02-09 20:50] #448 closed

[2016-02-11 23:13] aneta-bielska commented on #443
ruby 2.1.5, Rails 4.2.4, teaspoon 1.1.4
Should I use different versions or there is another reason why it's still filing? (should I open new issue?)

[code]

[2016-02-12 02:30] robgoodberry commented on #443
@aneta-bielska that looks like the error I had with teaspoon <= 1.1.3. 1.1.4 is in your Gemfile.lock?

[2016-02-12 14:24] laserlemon commented on #347
I'm having a similar problem and it seems to be due to the "sprockets" gem version. Locally, everything works with sprockets 2.12.4 but the build server has 3.5.2 installed. For me this can happen because `Gemfile.lock` is not checked in since I'm developing a gem so the build server fetches the latest version of sprockets that will satisfy the requirement.

I've confirmed that in my scenario, the

[2016-02-12 16:04] jejacks0n commented on #347
That's fixed in latest.

---
Jeremy Jackson

[2016-02-12 16:14] laserlemon commented on #347
Latest what?

[2016-02-12 16:49] jejacks0n commented on #347
Release of teaspoon perhaps? The repo you opened this issue on... :)

---
Jeremy Jackson

[2016-02-12 20:48] aneta-bielska commented on #443
@robgoodberry yes, it is 1.1.4

[2016-02-22 09:01] b1nary commented on #443
I am running into the same issues with 1.1.4. The monkey patch from @mfazekas is working for me. I've tried Sprockets 3.2 and 3.5.2. Rails is 4.2.2.

[2016-02-26 02:55] jejacks0n commented on #445
They don't, but we've thus far decided that it's not a failure directly.. I'd rather it be caught by the developer when the tests are run.. a Parse Error doesn't always mean that the javascript won't execute, so if the test coverage is "good enough", it should capture this, as well as it being visible in the ways you show.

I could be convinced otherwise, and every time it comes up I find myself b

[2016-02-26 02:55] #445 closed

[2016-02-26 02:57] jejacks0n commented on #428
If this isn't working it should probably be -- if for nothing other than parity. If there's any time available we'll look into it.. thanks for the heads up.

[2016-02-26 09:08] mrloop opened #457 "rubygems incorrect links"
https://rubygems.org/gems/teaspoon has incorrect links for `Source Code`  and `Documentation`. They both point to https://github.com/mintdigital/teaspoon

[2016-02-26 14:56] jejacks0n commented on #457
Yeah, sadly we know, long story, name collision. If you know anybody at rubygems, or of a place where an issue can be opened, it would be nice to remove the abandoned gem to open the namespace back up.

[2016-02-29 10:56] iainbeeston commented on #405
I'm getting this issue too. I have teaspoon in both my dev and test environments (so I can access the rails generators). It seems to occur because sprockets is trying to process `teaspoon-1.1.4/app/assets/javascripts/teaspoon/error.coffee`

[2016-02-29 11:12] MihaiDinculescu commented on #443
Minor note, locking `sprockets-rails` to the latest **2.X** version is enough for the workaround.

`gem 'sprockets-rails', '~> 2.0'`

[2016-02-29 11:13] iainbeeston commented on #405
@mikepack I'm afraid Rails includes coffee script in the gemfile by default (both via coffee-script rails and tubolinks), so you need to remove these from the default app that rails generates. I can reliably reproduce by using the following:

    $ rails -v
    Rails 4.2.5.1

    $ rails new --skip-turbolinks --skip-bundle teaspoon-precompile
          create
          create  README.rdoc

[2016-02-29 11:55] MihaiDinculescu commented on #405
To me it looks like `teaspoon` fails to include the `coffee-rails` gem when used in conjunction with `sprockets-rails` **3.X**.

[2016-02-29 13:20] iainbeeston commented on #405
Should the published version of teaspoon have a dependency on coffee script? Couldn't those files be precompiled in the published version of the gem?

[2016-02-29 15:32] jejacks0n commented on #405
Sounds like maybe we missed a file in precompilation. Knowing that we can figure it out and get a new release.

[2016-02-29 16:28] iainbeeston commented on #405
@jejacks0n By my own debugging that might be `app/assets/javascripts/teaspoon/error.coffee` (in case that wasn't clear in all the messages above)

[2016-02-29 17:33] jejacks0n commented on #405
It was, and thanks. :)

---
Jeremy Jackson

[2016-03-05 20:04] jejacks0n commented on #457
It appears one just needs to click edit and adjust them.. anyhow, got that resolved. Thanks for the heads up.

[2016-03-05 20:04] #457 closed

[2016-03-08 22:59] connorshea commented on #447
So we just ran into this, any updates?

[2016-03-08 23:01] jejacks0n commented on #447
I still don't know what's happening, and have not seen it as of yet.. any ideas on what's happening? like, literally, you get a js file served to you where you can see `//= require [file]`?

[2016-03-09 13:42] MihaiDinculescu opened #460 "sprockets-rails 3: Asset was not declared to be precompiled in production."
Yet another problem with sprockets-rails 3...

[code]
Navigate to `/teaspoon`. The following error pops when clicking **_default_**

[code]

Funny enough, adding that line to `config/initializers/assets.rb` doesn't fix the problem. Neighter does `rake tmp:clear` or `rake assets:precompile`.

**Update**
It looks related to the `ActionView::VERSION::STRING.start_with?('4.2.5')` line in **engine.rb**

[2016-03-10 14:36] imderek opened #462 "Failure/Error: Can't find variable: expect"
Followed the [Quick Start](https://github.com/modeset/teaspoon/wiki/Quick-Start-Walkthrough), but get an unexpected error when running `rake teaspoon`:

[code]

My Gemfile in a nutshell:

[code]

Spec looks like:

[code]

[code]

[code]

[code]

[2016-03-10 14:39] imderek commented on #462
One more note: when viewing `/teaspoon`, the error is slightly different:

[code]

[2016-03-10 15:03] jejacks0n commented on #462
There's some lines in the spec helper to enable the mocha matchers. It has a few options, so we don't specify enable one by default. The getting started article is written for jasmine, but it looks like you're using mocha fwiw.

---
Jeremy Jackson

[2016-03-10 15:10] imderek commented on #462
@jejacks0n Oh, I definitely intended to use Jasmine.  I was paying complete attention when I copied the "[use this version for Rails 5](https://github.com/modeset/teaspoon#developer-note)" line, which switches to Mocha:

Changed gem to `teaspoon-jasmine`, all good now.  Thanks.

[2016-03-10 15:16] jejacks0n commented on #462
You may want to run the generator again.

[2016-03-10 15:16] imderek commented on #462
Yup, did.  Thanks again, @jejacks0n.

[2016-03-10 22:58] mockdeep commented on #460
We just ran into this, too. It would be good to make sure it's future proof so that security releases aren't blocked by teaspoon.

[2016-03-10 23:02] jejacks0n commented on #460
@mockdeep -- It's near impossible to have it be future proof since it's based on a third party that has changed things fairly consistently throughout the life of teaspoon. =)

[2016-03-10 23:02] #460 closed

[2016-03-11 14:33] apellizzn opened #464 "Teaspoon running very slow if running coverage"
Hi, have the following config in `spec/teaspoon_env.rb`

[code]

If i run ` teaspoon` from CLI the execution ends in ~1sec but if i try to add coverage, `teaspoon coverage=default` that its taking  **>30sec**
After debugging teaspoon code i found that code causing this delay is in teaspoon/driver/phantomjs.rb

[code]
actually seems that each method called on `io`  in IO.popen block (even io.count)

[2016-03-11 17:57] jejacks0n commented on #464
if you dig further into the code, the `IO.popen` call is only running a shell command -- in this case, it's phantomjs. The reason it takes longer to run with coverage is several fold, so I'll explain what's happening and you can dig into that further if you feel there's still something in Teaspoon that is running "very slow".

When you run Teaspoon locally, it'll use the dev environment by default

[2016-03-11 17:57] #464 closed

[2016-03-14 08:25] apellizzn commented on #464
Thank you for your good explanation, i will try to figure out how to speed this up based on what you said

[2016-03-15 00:15] bmulholland opened #466 "Rails 4.2.6: Asset was not declared to precompile"
I just tried a rails upgrade, which seems to have triggered #443 again.

teaspoon 1.1.4, sprockets 3.5.2, ruby 2.2.3

rails 4.2.5.2: No issue
rails 4.2.6: "Asset was not declared to be precompiled in production."

I reproduced this with no other gem versions changing.

[2016-03-15 16:21] jejacks0n commented on #466
have you checked with master?

[2016-03-15 16:21] #466 closed

[2016-03-15 19:09] bmulholland commented on #466
@jejacks0n Apologies, thought I had. Looks like master fixed it. Do you know when a new gem version will be released with that fix?

[2016-03-17 16:42] mathias opened #467 "Fails silently on CLI runner when Rails is upgraded to 4.2.6"
Hello,

I'm seeing this failure when we upgrade our Rails app to 4.2.6:

[code]

Is there any way to get a more verbose error here? Also, would this possibly have something to do with rake getting upgraded from `10.5.0` to `11.1.1` as part of this upgrade?

Running the rails server and navigating to localhost:3000/teaspoon still works fine, no Chrome inspector errors in console.

[2016-03-18 15:22] adamrmelnyk commented on #467
Experiencing the same issue and using rake 11.1.1 and rails 4.2.6

Teaspoon fails silently after trying to start up.

[2016-03-18 16:27] jejacks0n commented on #467
Try it with master?

So, I think it may be two fold -- Rake may be throwing an extra kink in there, but what's probably happening is that it fails because of issues around sprockets. In addition, it sounds like rake is gobbling up some information that used to be presented, but I have no idea how at this point.

[2016-03-18 19:41] mathias commented on #467
That works, but I'd really like to be on a version off rubygems. Any chance of cutting a release?

[2016-03-18 21:01] sc0ttman commented on #255
Yea, I need this as well since `rack-mini-profiler` doesn't work nicely with my javascript tests. Also I assumed running `rake teaspoon` would already be run in the test env.

[2016-03-19 03:04] jejacks0n commented on #467
Well, that's how this all works right? I'll use this as an opportunity to explain. =) You see an issue, as a step one, you always try master, if that doesn't fix it you can open a PR with your fix, or open an issue -- the former being the better of the two -- obviously. Now, here's the important bit: if master is working, and is a notable improvement from the latest gem version, it's helpful to le

[2016-03-19 03:04] #467 closed

[2016-03-29 09:35] sebastianzillessen opened #470 "JUnit Formatter overwrites xml report when multiple test suites are in place"
I have multiple test suites, as my application has different main layouts with different javascript assets.

My configuration looks like this:

[code]

The important part are the formatters. Having a look at `teaspoon/lib/teaspoon/runner.rb#24` the `Runner` uses the same output file for each test-suite. In `teaspoon/lib/teaspoon/formatter/base.rb#21` the `Formatter::Base` defines, that it will tru

[2016-04-08 18:58] starsirius commented on #428
+1

[2016-04-08 22:17] jejacks0n commented on #428
Please try that branch and report back. I have only tested it on the latest capybara-webkit (1.10.1 as of writing) and it appears to work -- no idea about previous versions.

[2016-04-11 20:18] starsirius commented on #428
@jejacks0n Thanks for taking a look. I've tried using the above branch, but now it looks like not running the specs and just exits. Will try to take a closer look, but for your information, this is all I got now:
[code]

[2016-04-11 20:25] jejacks0n opened #474 "The install generator generates a coffeescript root file, but Sprockets 4 doesn't seem to support that anymore."
https://github.com/rails/sprockets/issues/273#issuecomment-206415863

Looks like we'll need to update the install generator to not generate a `spec_helper.coffee`, and instead generate a `spec_helper.js`.

#473

[2016-04-11 20:31] jejacks0n commented on #428
Thanks @starsirius, that's likely because of the capybara-webkit version (I think).. can you make sure you're using 1.10.1 for me as a follow up? That layer changed a lot between versions of capybara-webkit, and so I expected some hassles there. Please provide the version you're using, and what the results are with 1.10.1 if you have the time.

[2016-04-12 01:24] mebibou commented on #95
@chaomao you are right it solved this for me too. The strange thing is that it was working yesterday, and suddenly not anymore. What is the cause?

[2016-04-12 02:20] baburdick opened #475 "#generate_report sometimes fails with NoMethodError: undefined method `exitstatus' for nil:NilClass"
[code]

[2016-04-12 15:31] jejacks0n commented on #475
Please provide more information. What's the pattern? Is it completely arbitrary, or can you figure out how to reproduce it?

[2016-04-12 20:31] starsirius commented on #428
@jejacks0n Confirmed that using capybara-webkit 1.10.1 works. It's running the tests and outputting the `console.log`s as long as outputs from other libraries! 👍  For example, the warning from React:

However, it seems like I can only get at most 2 outputs and the result is not reliable. For example, given the following test
[code]

It sometimes outputs
[code]
sometimes
[code]

[2016-04-12 22:04] jejacks0n commented on #428
The timing of them is a bit odd as well. So I don't fully understand why capybara-webkit has it setup the way they do, but I'm using it as best as seems possible at that layer and it 1. doesn't behave as expected, 2. seems to be an area of heavy flux and probably isn't worth trying to maintain compatibility (at least for me -- keeping up with sprockets breakage is hard enough).

So I'll close the

[2016-04-12 22:11] jejacks0n commented on #428
Decided I'd check with the capybara-webkit team before closing it entirely.

[2016-04-13 01:41] baburdick commented on #475
No rhyme or reason so far. It happens with both Ruby 2.2.4 and Ruby 2.1.8. I can run it successfully (but never reliably):
[code]
... And then *immediately* after that, run it again, and produce the failure (again, never reliably):
[code]
In the failure case, it seems there are always two reaped processes. In the successful runs, only one. But the text-summary can succeed or fail:
[code]
I have th

[2016-04-13 01:42] jejacks0n commented on #475
and it doesn't happen when you don't use coverage?

[2016-04-13 01:43] baburdick commented on #475
To be clear, `config.use_coverage = true` precedes the `config.coverage do |coverage|` block. The other config lines are inside that block. I blurred that distinction when keying my last post here.

[2016-04-13 01:44] baburdick commented on #475
Correct. Can't make it happen when I disable coverage.

[2016-04-13 01:47] jejacks0n commented on #475
no worries. =) So if it's only happening when generating reports, my best guess would be that it's an issue with how Istanbul is processing your javascript (or not processing). Teaspoon shells out to Istanbul and off loads that stuff and awaits a response.. you can find the relevant line here:

https://github.com/modeset/teaspoon/blob/master/lib/teaspoon/coverage.rb#L61

You can see it's using `$?

[2016-04-13 01:47] #475 closed

[2016-04-13 01:48] baburdick commented on #475
If I disable `text-summary` and the coverage thresholds, I can avoid the error.

[2016-04-13 01:50] jejacks0n commented on #475
It's the only thing that makes sense unless you have some threaded setup or something -- and I'm not even sure about if that would cause an issue or not.

[2016-04-13 01:56] baburdick commented on #475
Yep. If I enable either of them, I get intermittent errors.

May I suggest gracefully carrying on in the face of lost process adversity?
[code]
[code]

[2016-04-13 01:56] baburdick commented on #475
(The only changes above are the `begin;rescue;end` blocks around the calls to `#exitstatus`.)

[2016-04-13 01:58] jejacks0n commented on #475
That doesn't seem like a good solution. You'd be here with the same issue, different result.. e.g. "Teaspoon arbitrarily fails to generate my text reports on some runs". =)

What you probably should do is figure out why Istanbul fails to return a result sometimes. I'm trying to help you get to the root cause, which seems to only be afflicting you thus far.

[2016-04-13 03:22] baburdick commented on #475
It appears to be a timing issue. If I rescue the `NoMethodErrors` and `sleep 2` before I reference the result, I can see a proper result, but still can't get the exit status code via `$?`. Somehow the value of `$?` is either not yet set, or lost at the time we reference it. It's likely that my very busy laptop exposes this weakness in using `%x{}` and `$?`. Perhaps it could be replicated by stuffi

[2016-04-13 03:32] baburdick commented on #475
Forgot to note: you need this at the top of `coverage.rb`:
[code]

[2016-04-13 04:01] baburdick commented on #475
Dove a bit deeper into how `Open3.capture2e` relies ultimately on `Process.spawn`. So I can now simplify the args. Pull request coming shortly.

[2016-04-13 05:45] baburdick commented on #475
See modeset/teaspoon#476

[2016-04-13 13:40] starsirius commented on #428
Thanks, @jejacks0n!

[2016-04-15 19:43] gaganawhad commented on #466
👍

[2016-04-15 19:43] pjmelling commented on #466
+1

[2016-04-15 19:44] jejacks0n commented on #466
Cheers for checking in.. I'll try to get a new version pushed this weekend.

[2016-04-15 19:45] pjmelling commented on #466
Awesome! Thank you so much!

[2016-04-15 19:46] gaganawhad commented on #466
thanks a bunch @jejacks0n

[2016-04-27 06:40] liseki commented on #474
We can now close this with the advent of [#478](https://github.com/modeset/teaspoon/pull/478).

[2016-04-27 16:01] #474 closed

[2016-05-05 15:13] bouk opened #479 "Errors outside of tests don't cause the test run to fail"
This seems to have been discussed before in previous issues, but we've ran into multiple problems at Shopify where something in our javascript bundle throw a SyntaxError or ReferenceError or whatever, which would then not make Teaspoon fail and instead cause our CI to silently succeed and us to miss it.

I propose that we make Teaspoon fail the test run if there's an error before `Teaspoon.execute

[2016-05-05 15:23] bouk commented on #479
previous issues; https://github.com/modeset/teaspoon/issues/445 https://github.com/modeset/teaspoon/issues/425

[2016-05-05 15:26] jejacks0n commented on #479
Yeah, I've been torn on this because it doesn't indicate a real failure directly. That being said, it's an easy fix with phantomjs, but may not be true elsewhere.

If you decide to look into this I tend to think we might need to do this at the controller level (suite_controller) and handle that exception by ending everything.

---
Jeremy Jackson

[2016-05-10 23:58] jejacks0n commented on #447
I'm not seeing this, so am closing it.. if someone else has more to add it would be great.

[2016-05-10 23:58] #447 closed

[2016-05-12 01:13] grantspeelman commented on #405
Adding gem `coffee-script` to the `:test` and `:development` gem group seems to fix it for me

[2016-05-12 12:19] liseki opened #482 "Failure running tests with rails 4 and sprockets 3 when config.expand_assets = false"
Running tests with the following setup:

[code]

and `config.expand_assets = false` raises a `Sprockets::Rails::Helper::AssetNotPrecompiled` error. This is because this version of rails does not take advantage of [Teaspoon's patch](https://github.com/modeset/teaspoon/blob/d9de20295dd1e9839ebeca00cc7605f8c76a0799/lib/teaspoon/engine.rb#L104-L119) of `ActionView::Helpers::AssetTagHelper#javascript_i

[2016-05-12 12:25] liseki commented on #482
The simplest way to solve this (and allow other gems to easily require assets not listed for pre-compilation) is to make sprockets-rails and action view respect both the 'debug' and 'allow_non_precompiled' flags to asset tag helpers. Once that happens we won't need to make any changes to Teaspoon, and we can even do away with [Teaspoon's patch](https://github.com/modeset/teaspoon/blob/d9de20295dd1

[2016-05-12 12:27] liseki commented on #482
@jejacks0n  Having those sprockets-rails and action view changes would allow us to close [rails/sprockets-rails#297](https://github.com/rails/sprockets-rails/issues/297).

[2016-05-21 18:47] bouk commented on #479
fixed

[2016-05-21 18:47] #479 closed

[2016-05-29 18:43] liseki commented on #482
With the advent of [sprockets-rails commit b4f9006c](https://github.com/rails/sprockets-rails/commit/b4f9006c7ff5ccd74b467c1b81e721c15dd5daf7) we have something to work with: it provides the global config option ```config.assets.check_precompiled_asset``` which defaults to true.

To firstly solve these Rails 4 issues we have to remove the [javascript_include_tag override](https://github.com/modese

[2016-05-31 21:26] ZackMattor opened #483 "Hook to run ruby script before tests start"
Is there a way to hook into teaspoon and run a ruby script before the jasmine tests execute? I want to generate some fixtures with ruby. Currently i'm doing it a hacky way in teaspoon_env.rb... but it gets called in rspec tests, etc.

[2016-05-31 22:22] jejacks0n commented on #483
https://github.com/modeset/teaspoon#hooks

[2016-05-31 22:22] #483 closed

[2016-06-01 01:06] ZackMattor commented on #483
Derp... thanks. But I seem to have another problem @jejacks0n ...

It seems like every hook I call seems to return a 500 in the request?...
<img width="890" alt="screen shot 2016-05-31 at 8 58 48 pm" src="https://cloud.githubusercontent.com/assets/552776/15695180/882cec8c-2772-11e6-8948-de63c490c00c.png">

[code]

It gets all the way through the hook but returns the 500 for some reason.. I threw a

[2016-06-01 15:12] jejacks0n commented on #483
Hey man, got the email notification for the comment you added and came here to check it out.. Looks like it's gone, so hopefully that means you got things working.

[2016-06-01 16:27] alistairjcbrown opened #484 "Tests not running in latest version of Puma"
Running tests with the following setup:

[code]

__Puma version 2:__ Tests run successfully using the `teaspoon` rake task
`2.16.0` being the latest version under the version 2 major release

[code]

__Puma version 3:__ Process hangs using the `teaspoon` rake task
`3.0.0` being the first version under the version 3 major release, the same happens on the latest version `3.4.0`
[code]

No puma confi

[2016-06-02 14:14] snoblenet opened #486 "How to get Teaspoon to point to its own assets?"
My Teaspoon :: Javascript Test Runner pages is successfully loading this asset

[code]

However, it is also failing to load all these assets.

[code]

`spec_helper.js` and `demo_spec.js' (actually 'spec_helper.coffee` and 'demo_spec.coffee') are in '/spec/javascripts'. The other two files are presumably loaded by the gem:

[code]

Perhaps the absence of these files is not surprising, given my Java

[2016-06-02 16:35] bouk commented on #482
The best fix for the pipeline stuff is maybe just to do something different depending on the sprockets version. I have a hacky patch here: https://github.com/bouk/teaspoon/commit/9dab441203c5dcbf63bc203920dfa7ba1833d90c that only sets the pipeline to debug if the sprockets version is `>= 4` and this fixes the issue of sprockets directives not working when `expand_assets = false` on master

[2016-06-02 16:48] sockmonk commented on #405
I found I only needed to add `coffee-script` to the `:test` gem group as a workaround. It's not needed in `:development`.

[2016-06-03 11:36] liseki commented on #482
@bouk what versions of sprockets and sprockets-rails are you running? And did you remember to clear your asset cache before trying the patch? I have tried it out with sprockets 3.6.0 and master sprockets-rails, and the issue is still the same with both rails 4.2.3 and 4.2.5.

[2016-06-07 17:38] rbishop commented on #486
I'm experiencing this as well. We want to run teaspoon in the `test` RAILS_ENV (it seems that teaspoon runs in development by default,) and make use of our already precompiled assets on CI. We want our app assets precompiled but don't necessarily need to precompile the jasmine spec files.

[2016-06-07 17:40] jejacks0n commented on #486
These are all due to changes in the default behavior in sprockets. Have you tried with master? If master doesn't work, I'll need to come up with a workaround, but I have personal life things going on that are keeping me from being able to work on Teaspoon at the moment.

[2016-06-07 17:42] rbishop commented on #486
Thanks for the quick reply! I thought that might be the case after finding another issue. We have some other gems that cause a stack overflow (still trying to narrow down which one is causing it) when we upgrade to latest Sprockets. If I can figure that out I'll just upgrade Sprockets.

Best wishes with your personal life.

[2016-06-07 18:08] jejacks0n commented on #486
Thank you. Please provide any details you find when investigating the issue with Teaspoon and in general. The change to sprockets, and the seemingly inability to opt in to allowing assets that are not defined in the precompile list when requesting assets is burdensome on gems like Teaspoon, but that's not your fault. =)

[2016-06-07 21:54] snoblenet commented on #486
Hi @jejacks0n -- Thanks for your response and best wishes for your current issues.

Since I posted this, I've got the raw Jasmine gem going. This has the advantage of being non-Rails specific, so it makes no particular assumption about the app using the assets pipeline. As it worked, we'll continue with that for the time being.

[2016-06-09 13:19] johnjmaguire commented on #484
Upon further investigation this was caused by starting Puma 3.x in Cluster Mode. Switching to Single Mode (by removing the workers config in Puma) allowed us to run the test suite as expected. Safe to close this up.

[2016-06-09 13:59] #484 closed

[2016-06-15 18:22] yairgo commented on #405
I just ran into this also. I think this issue should be re-opened until there is a version of the gem that has coffee-script as a requirement.

[2016-06-15 19:24] yairgo opened #487 "Fixtures with append=true can cause tests to be very slow"
Going to edit this with content

[2016-06-25 14:24] davetron5000 commented on #445
Just about an hour to this.  Here's an example that might make it more clear why this is undesirable behavior:

1. Clone https://github.com/madblkman/Shine
2. `bundle install`
3. `bundle exec rake teaspoon`

You'll see 1 spec ran, 1 passed.  But, if you look at `spec/javascripts/customers_app/controllers/customer_search_controller_spec.js` you'll see there are three more tests in there.  These don

[2016-06-28 00:27] chadrem opened #489 "Rails 5rc2"
I have teaspoon (and teaspoon-jasmine) setup/installed in a rails 5rc2 app. I am using two terminal windows. In the first one I am running "rails server" and in the second I am running "teaspoon". Whenever teaspoon runs in the second terminal, it starts it's own rails server and this appears to signal the other rails server (in the first terminal) to exit. Because of this, my workflow has turned i

[2016-06-30 00:46] corps opened #490 "teaspoon-jasmine has undeclared transitive dependency"
From my Gemfile.lock
[code]

[code]

It seems that https://github.com/thoughtbot/bourbon is an implicit dependency of teaspoon-jasmine, although it hadn't been in the past (just a random upgrade).  Can we get this dependency stated explicitly in the teaaspoon-jasmine gem?

[2016-06-30 01:00] jejacks0n commented on #490
Huh? It shouldn't be, so I'll look into it.

---
Jeremy Jackson

[2016-07-01 09:11] tf opened #491 "Teaspoon as development dependency of Rails engine"
Hi,

I'm using Teaspoon in a Rails engine and have declared it as a development dependency inside the gemspec. But I also need to add a `gem "teaspoon-mocha"` entry to the `Gemfile`. Otherwise I get an "undefined method configure for Teaspon:Module". I guess this causes `Bundler.require` to pick it up.

This isn't that bad, but always generates a Bundler warning telling me I listed the gem more th

[2016-07-05 09:40] ngelx opened #492 "Testing in engine Not loading *_spec.js"
Hi, i'm working on an engine (gem) that has some js code to be tested but seems i can't get it working. I've followed [the wiki article](https://github.com/modeset/teaspoon/wiki/Testing-Engine-Assets) and set a basic example.

* Added   `s.add_development_dependency 'teaspoon-jasmine' ` in the gemspec file
* dummy is in `spec/dummy`
* spec/teaspoon_env.rb:
[code]
* Rakefile:
[code]
* spec/javascri

[2016-07-13 11:22] ngelx commented on #492
Any idea? Sorry but i can't get it to work and i'm run out of ideas.

[2016-07-13 14:43] jejacks0n commented on #492
Check where the teaspoon_env is in the teaspoon repo. And its contents. That might help?

---
Jeremy Jackson

[2016-07-13 16:45] ktec commented on #405
Just installed `teaspoon` version 1.1.5 into a Rails 5.0.0 application, and have run into the same error as described when I run `rake teaspoon` and adding the `coffee-script` to the `:test` group worked for me.

[2016-07-13 18:43] RGreinacher opened #493 "Hook produces ReferenceError: url is not defined"
Hey!

I try to create a hook like so:

(*teaspoon_env.rb*, in `config.suite do |suite|`)
[code]

and call it in my *my_test_spec.coffee* with

[code]

This leads me to the following error in both, browser and CLI:

What am I doing wrong? Thanks a lot! : )

[2016-07-14 08:27] sebastianzillessen opened #494 "Version Update"
Hi,

the latest version published was 1.1.5.

Since then some useful features have been submitted to the project. Are you planning on releasing a new version soon?

Cheers,

Sebastian

[2016-07-14 08:30] sebastianzillessen opened #495 "How to set environment of execution to 'test'"
Hi,

for some reasons of my project architecture I would like to set the environment in which teaspoon gets executed on jenkins (from the CLI) to `test` instead of `development` unfortunately I could not find this option anywhere.

How can I configure teaspoon to do this for all executions? (Preferable in the `teaspoon_config.rb`)

Thanks!

Sebastian

[2016-07-14 11:04] ngelx commented on #492
I've double check it, but still running 0 examples. Also I've created an engine form strach and set up a very basic test, in order to check if the problem was some kind of weird configuration on main engine. No success either. It seems that i'm definitely missing something.

[The test engine is here](https://github.com/ngelx/engine_teaspoon_example)

In Particular, the commit that add the teaspoon

[2016-07-18 16:07] dany-kun commented on #495
What do you think of doing `RAILS_ENV=test bundle exec teaspoon` ?

[2016-07-18 16:20] sebastianzillessen commented on #495
Well, that would work but it would as well require, that I do this on all CI instances for all projects... 😄 Thats why I thought of a solution that I can check in into my central `teaspoon_config.rb` and then apply it automatically to all projects.

Is that somehow possible?

[2016-07-18 16:22] jejacks0n commented on #495
It depends on how you’re running teaspoon on CI. Via the CLI I believe you can put `RAILS_ENV=test` in your env. if you’re running rake, the rails app has already been started by the time teaspoon env is executed, so… with rake, you must set the environment variable before executing rake, with the CLI you can probably put it in your `teaspoon_env.rb`.

[2016-07-18 16:29] sebastianzillessen commented on #495
Ok, I'll give this a try.

[2016-07-18 17:23] ngelx commented on #492
Found it! The issue was that the spec was written with arrow functions. If it is re-write to old plain js it runs as expected.

I've managed to test es6 code inside my app, but i'm just wondering if it is possible to write specs using es6. When i try to do something like

[code]

I'm getting
[code]

You can test the code in [this example repo](https://github.com/ngelx/engine_teaspoon_example/tree/

[2016-07-20 10:44] RGreinacher commented on #493
I filed the issue using teaspoon-mocha. Today I tried to use teaspoon-jasmine and I still get the same error. Via CLI I tried to call `Teaspoon.hook('test_hook')` in my *test_spec.coffee* and got `ReferenceError: Can't find variable: url`

[code]

Interesting thing is that I nevertheless got the console output "wow, such test!" - so the hook is working, but throwing an error anyways.

[2016-07-21 13:20] mariohmol opened #496 "Error: uninitialized constant Teaspoon::Framework"
Error on trying to execute `rails generate teaspoon:install` (tested with bundle exec as well)

I looked at https://github.com/modeset/teaspoon/issues/370 , but all checked and errors persists.

Checked in gemfile.lock and ` teaspoon-mocha` is there.

Any ideas?

thanks

[code]

[2016-07-21 13:20] mariohmol commented on #370
Hi there!!

i have teaspoon-mocha inside the lock file, all set.. but when i run generattor get same error.. opened a new issue as this is 1 year old https://github.com/modeset/teaspoon/issues/496

[2016-07-21 13:47] mariohmol commented on #496
Sorry guys, i figure it out, this worked `RAILS_ENV=test bundle exec rails g teaspoon:install`

wouldnt be good to have this rails_env with bundle in readme?

bests

[2016-07-21 13:47] #496 closed

[2016-07-22 11:42] SuhelN opened #497 "Error"
I faced a error in rails 4.2.6
Asset was not declared to be precompiled in production.
Add `Rails.application.config.assets.precompile += %w( site.css )` to `config/initializers/assets.rb` and restart your server

[2016-07-27 15:48] ZackMattor commented on #493
Yeah, I get this same error... I'm trying to dive into it today. Its all working as expected but throws a TON of errors when i'm running my test suite.

[2016-07-27 16:07] jejacks0n commented on #493
so, it looks like this:

https://github.com/modeset/teaspoon/blob/master/app/assets/javascripts/teaspoon/hook.coffee#L22

That will let you know (and will in theory break a test) if the response isn't a 200.. but it's using a variable that's not defined `url`.

I'll try and get to this today.

[2016-07-27 16:13] ZackMattor commented on #493
I solved my case. I will have a PR open when i get back from lunch.

`:success` is not a valid status code symbol so the server always returns 500.

[2016-07-27 16:14] jejacks0n commented on #493
ah, yes.. it's :ok, not :success.

[2016-07-27 16:14] jejacks0n commented on #493
but the underlying problem is still there with the url variable.

[2016-07-27 17:17] ZackMattor commented on #493
@jejacks0n, I'm thining about not relying on the `url` variable, but returning an error message from the server with a `:not_found - 404` status code if there is no hook present (exactly what the hook.coffee throw was trying to show).

[code]

[2016-07-27 17:29] ZackMattor commented on #493
Working error output.

![image](https://cloud.githubusercontent.com/assets/552776/17185212/332dc928-53fe-11e6-95bd-983111d26658.png)

[2016-07-27 17:58] #493 closed

[2016-08-18 06:35] mhaylock opened #500 "Travis broken - and tests not running on master?"
When writing #499 I attempted to run the tests to verify that no tests were broken. But I was unsuccessful at getting the tests to run on master.

When I run `rake` (following the [instructions here](https://github.com/jejacks0n/teaspoon/wiki/Developing-Teaspoon) - note that `bundle exec rake` makes no difference) I get the following error from Sprockets 3.x due to the dummy app being missing a ma

[2016-08-18 09:03] thbar commented on #443
I faced the same issue with 1.1.4. Updating to master today (2.4.1) fixed it.

[2016-09-04 14:38] ephracis opened #501 "Tests are not running on Rails 5"
My tests are not being loaded properly in Teaspoon. Tried both jasmine and mocha.

I have verified that the test files are found by `Dir.glob` in the current directory. The `teaspoon_env.rb` file is untouched, generated with `bin/rails generate teaspoon:install --coffee`.

Here's my test file at `spec/javascripts/foo_spec.rb`:

[code]

[code]

Running Rails 5.0.0.1 and Teaspoon 1.1.5.

[2016-09-06 20:28] mattscilipoti commented on #337
You may be looking to utilize a [guard group](https://github.com/guard/guard/wiki/Guardfile-DSL---Configuring-Guard#group).  I put rspec and teaspoon in a group with `:halt_on_fail`.  If either fails, it doesn't continue.
[code]

[2016-09-07 14:04] brodock opened #502 "Support "--include-all-sources" behavior from `istanbul cover`"
From my understanding teaspoon coverage support is done by invoking on file by file the `teaspoon instrument` command instead of relying on `cover` so it can support sprockets directives resolution.

So it doesn't support the `--include-all-sources` flag and because of that, doesn't output as 0% coverage for files without corresponding specs:

[code]

Can we support instrumenting them by something

[2016-09-16 14:53] sb8244 commented on #443
I'm getting the same issue as @ajb. The asset is "compiling" but it isn't actually requiring anything through sprockets. It is just generating an empty file. This is on the latest teaspoon, rails 4.2, and teaspoon-jasmine.

[2016-09-16 15:10] sb8244 commented on #443
Confirmed that `1.1.5` isn't compiling my assets into the final product. `1.1.4` works correctly although has the issues previously mentioned above.

I had to change the above (hacky) script to the following for the updated sprockets:

[code]

[2016-09-23 03:44] joowh85 commented on #489
+1

[2016-10-04 14:26] rhymes opened #503 "QUnit 2"
I'm opening this issue to see if there's interest to add QUnit 2 (or at least v1.23.1) support to teaspoon.

https://qunitjs.com/upgrade-guide-2.x/
https://github.com/jquery/qunit/blob/2.0.1/History.md

[2016-10-04 23:03] jejacks0n commented on #503
There is. =)

[2016-10-19 21:05] arrbee commented on #489
I was seeing the same problem. I believe I tracked it down to having `plugin :tmp_restart` at the bottom of my `config/puma.rb` file. I replaced that line with:

[code]

and the problem seems to have gone away.

[2016-10-19 23:09] jejacks0n commented on #489
Yeah, we just use your configuration to start a server (in a thread), so if starting that server forces others to restart, it would also potentially be an issue in capybara too (though I think it might default harder to webrick).

Anyway, thanks for the info @arrbee. I'll leave this around for others if it's a confirmed fix.

[2016-10-26 21:35] chadrem commented on #489
@arrbee thanks for tracking it down! Jut to confirm your code works for me. One additional note... I have to run ````RAILS_ENV=test rake teaspoon```` for this to work. Or else the ````rails server```` in my other terminal dies.

[2016-10-28 19:20] sujaysudheenda opened #504 "teaspoon-jasmine running in development environment instead of test"
I am trying to run teaspoon tests in rails app. instead of running in test environment teaspoon is trying to run on dev environment and asks for missing database migrations.

I have specified
`ENV['RAILS_ENV']  = 'test'` in first line of teaspoon_env.rb file
## using `gem 'teaspoon-jasmine', '~> 2.3.4'`

Error: ActiveRecord::PendingMigrationError:

Migrations are pending. To resolve this issue, ru

[2016-10-28 20:17] jejacks0n commented on #504
rake db:test:prepare ?

---
Jeremy Jackson

[2016-10-31 15:09] sujaysudheenda commented on #504
@jejacks0n I tried doing it before running the teaspoon tests. but it didnt seem to work. I still see the same error.

[2016-11-09 22:08] ucguy opened #505 "Tests not running and getting "ReferenceError: Can't find variable: Teaspoon" on CI server"
We are getting a `Reference:error: Can't find variable: Teaspoon" on our CI server (Jenkins) when we are trying to run our Jasmine js tests.

Here is the error:
[code]

We noticed that we are getting the same error when running this locally.
Running `rake teaspoon RAILS_ENV=test` works just fine.
However, we get the same `Can't find variable: Teaspoon` error above when we simple run `rake teaspoon

[2016-11-23 10:16] n0nick commented on #501
Any updates on this? I just ran into the same issue myself.

[2016-11-26 19:23] sockmonk commented on #504
I have a similar problem:
When I run "bin/teaspoon", logging goes to log/development.log.
When I run "RAILS_ENV=test bin/teaspoon", logging goes to log/test.log.

I doublechecked, and by default RAILS_ENV is unset, so that isn't the problem. In my Gemfile, teaspoon-jasmine is in the 'development, test' block.
Rails 4.2.7.1, teaspoon 1.1.5, teaspoon-jasmine 2.3.4

[2016-11-26 19:44] sockmonk commented on #501
I've found that some specs run, but one spec sometimes gets ignored, depending on its contents.
Progressively commenting things out will get the test to run; I haven't figured out yet what exactly it takes to trigger it.  When it does ignore the file, when running with the '-f documentation' flag, the output is:

`0 examples, 0 failures`

Running Rails 4.2.7.1 and Teaspoon 1.1.5.

[2016-11-26 22:08] jejacks0n commented on #504
It's mentioned in the documentation that teaspoon by default runs in the development env. If you want to change this and not take advantage of the optimizations this provides, by all means do as you wish. Though it's not the default setup, so any issues you come across in the test env are for you to resolve.

---
Jeremy Jackson

[2016-11-27 08:08] n0nick commented on #501
FWIW the problem on my end (running Rails 5) was related to a bug in the Puma server: It did not register to the same port that Teaspoon assigned it, and so Teaspoon was stuck. Fixed in latest Puma: https://github.com/puma/puma/issues/1154

[2016-12-01 13:05] sockmonk commented on #501
In my case, it was a subtle bug in the test file itself.  What was surprising was that it caused the whole file to be ignored, rather than show an error. That's javascript for ya.

[2016-12-06 20:46] tomprats opened #506 "spec_helper.coffee generating error/404"
I get a 404 for http://localhost:3000/javascripts/spec_helper.coffee.js?body=1 on the /teaspoon/default test page. You can easily reproduce the error by creating a fresh rails project, adding the `gem "sprockets-cjsx"` and `gem "teaspoon-mocha"` and running the coffee installer.

I believe it is due to the sprockets-cjsx gem changing how coffee is transformed, but I'm not sure how the spec_helper

[2016-12-13 22:40] digitalvapor opened #507 "teaspoon + webpack = :sob:"
Hi all, I am having difficulty accessing modules in the AMD pattern that are bundled with webpack for my Teaspoon tests.

Example of such a pattern: `define(['a', 'b'], function (a, b) {});`. These anonymous defines are problematic.

I read the wiki on using [RequireJS-with-Teaspoon](https://github.com/jejacks0n/teaspoon/wiki/RequireJS-with-Teaspoon), but although informative, not quite the steps

[2016-12-13 23:02] jejacks0n commented on #507
Do you have whatever defines `define` required in your spec helper?

[2016-12-15 19:29] ryanthemanuel opened #508 "Missing CoffeeScript Dependency"
# Problem

In Rails rake assets:precompile blows up with ExecJS::ProgramError: ReferenceError: CoffeeScript is not defined.

# Steps to Reproduce

1.  Generate a new Rails app.
2.  Run rake assets:precompile and everything is fine
3.  Add the Teaspoon gem to the Gemfile: gem 'teaspoon'
4.  Run rake assets:precompile and you see the error above.

This seems like a fairly new issue as I don't rememb

[2016-12-15 23:00] digitalvapor commented on #507
I wound up making a faux test application Webpack config entry.

[code]

and updated the `teaspoon_env` `suite.matcher` to be that output file. i.e. `"spec/javascripts/faux_application.js"` in this example.

and other specific things to my project. Marking as closed, thanks!

[2016-12-15 23:00] #507 closed

[2016-12-16 20:30] ryanthemanuel commented on #508
This looks like it was a problem with coffee script and fixed here: https://github.com/jashkenas/coffeescript/issues/4403.  Closing this since it is no longer an issue.

[2016-12-16 20:30] #508 closed

[2017-01-10 18:31] thesauri opened #509 "Unable to run rake teaspoon: "closed stream (IOError)""
Hello, I'm trying to run teaspoon with JRuby 9.0.5.0 and Rails 4.2.7. I followed the README instructions and [the quick start walkthrough](https://github.com/jejacks0n/teaspoon/wiki/Quick-Start-Walkthrough). However, when I try to run the tests I get the following error:

[code]

If I run the command using `rake teaspoon RAILS_ENV=test` the test server starts, but crashes as soon I try to access t

[2017-01-13 12:10] phuongnd08 opened #510 "test running failed on circle: /teaspoon route not available on circleci"
Same Gemfile, same teaspoon_env.rb, on local machine, there is "/teaspoon" available. But on circleci, the path is not available.

[2017-01-13 12:36] phuongnd08 commented on #510
We use a catch all routes in our app but I guess teaspoon is supposed to deal with it.

[2017-01-13 12:47] phuongnd08 commented on #510
So ignore /teaspoon from the catchall route solve the issue for us. I guess this should be documented.

[2017-01-13 12:47] #510 closed

[2017-02-02 11:36] rhymes opened #512 "Teaspoon does not work with Puma 3.7.0 as a server"
Hello,

I've noticed that teaspoon stopped working with Puma 3.7.0

[22313] Puma starting in cluster mode...
[22313] * Version 3.7.0 (ruby 2.3.3-p222), codename: Snowy Sagebrush
[22313] * Min threads: 1, max threads: 1
[22313] * Environment: development
[22313] * Process workers: 2
[22313] * Preloading application
[22313] * Listening on tcp://0.0.0.0:3000
[22313] Use Ctrl-C to stop
[22313] - Worke

[2017-02-02 16:40] jejacks0n commented on #512
potentially related? https://github.com/puma/puma/issues/1154

[2017-02-02 23:06] jwhitmire commented on #512
I hit this issue as well and I think it is related to the port issue @jejacks0n referenced.  If I explicitly set `config.server_port` in my config file, then it worked for me.

[2017-02-02 23:26] twalpole commented on #512
The issue is that puma attempts to load a configuration file if ones exists and gives any settings in that file  priority over whatever settings are passed into the method used to start puma.  The configuration files tried are   config/puma/<environment>.rb  and if that doesn't exist it will try for config/puma.rb  .  You should be able to workaround around this issue by either telling puma not to

[2017-02-17 00:32] CyborgMaster opened #514 "Upgrade bundled version of Mocha js"
Mocha is now up to version 3.2.0, and it looks like the latest version included here is 2.3.3, which is quite old.  I'd like to use a few of the new 3.0 features.  Would it be difficult to update Mocha?

[2017-02-22 10:19] ephracis commented on #501
I believe it was a small typo for me as well. Can't remember what it was, though. Closing this.

[2017-02-22 10:19] #501 closed

[2017-02-28 03:32] itay-grudev opened #515 "Teaspoon::EnvironmentNotFound when running rails as a daemon"
When running rails as a daemon (`rails s -d`) and I go to `http://localhost:3000/teaspoon/` I get the following error:

[code]

To clarify, the environment file is located at `spec/teaspoon_env.rb`.

I believe the problem comes from the usage of `Dir.pwd` in `lib/teaspoon/environment.rb:34`. When running Rails as a daemon, the current directory is only valid before rails is detached. After that it

[2017-03-21 14:00] ionutciordas opened #516 "Teaspoon launched via guard tries to relaunch Puma and fails due to same port conflict"
Configuration:
* Rails 4.2.8
* Ruby 2.0.0-p247
* Puma 3.8.2
* Teaspoon 1.1.5
* Guard 2.14.1
* Guard-Teaspoon 0.8.0

Starting my development environment with guard starts Puma, then when the guard-teaspoon plugin starts, it tries to start Puma again and it fails due to same port conflict.

This issue started since our upgrade to Rails 4.2.

[2017-05-01 18:07] jpparsons opened #517 "Flakey test runs on CircleCI"
Is anyone having flakey test runs with CircleCI 1.0. I have been running teaspoon with no issues for many months and in the last few weeks I have been getting flakey test runs. Sometimes the tests run ok, other times teaspoon starts and Puma is listening but there is no test output and CircleCI just kills the test after a 10min timeout. Here's what I have:

Rails 4.2.0
Ruby 2.3.1
Puma 3.7.1
Teaspo

[2017-05-01 21:54] jejacks0n commented on #517
What runner are you setup to use? phantom, selenium, etc.

I've not seen this behavior exactly, but the runner would probably be the biggest factor in that.

[2017-05-01 22:04] jpparsons commented on #517
Im using phantomjs 2.1.1.0

[2017-05-02 16:02] jpparsons commented on #517
I seem to have resolved this issue by running Puma in cluster mode (was running it in single mode). You can close this issue.

[2017-05-04 18:04] jsilvestri opened #518 "Selenium Net::ReadTimeout"
We use teaspoon to test a number of Javascript tests in our Rails app.  Recently, it has been timing out with significant frequency. It seems to get a Net::ReadTimeout error when opening the connection to the browser -- line 27 of selenium.rb: https://github.com/jejacks0n/teaspoon/blob/master/lib/teaspoon/driver/selenium.rb#L27

I have noticed others have had Net::ReadTimeout issues before, but I

[2017-05-08 17:00] joannakim commented on #509
This was posted a while ago but did you figure out what was happening, and if so do you happen to remember how you resolved this? Thanks!

[2017-05-10 08:59] thesauri commented on #509
@joannakim Unfortunately not. If I remember correctly we gave up on using teaspoon altogether..

[2017-06-08 19:04] msmith1114 opened #521 "Fixture.load XMLhttpRequest deprecated?"
I just noticed when doing some browser logging that im getting this:

`XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience.`

looking in deeper it's referring to `Fixture.load`

[code]

Am I doing something wrong by using `Fixture.load('name of file here')` to use in my tests, is there another way that I should be using?

Thanks

[2017-07-20 14:26] thebravoman opened #523 "No specs detected"
Did everything is in the readme. Tests were running for about 1 hour.

Then they just stopped.
[code]
returns
[code]

I can not make it detects that there is a spec.

[2017-07-20 14:33] thebravoman commented on #523
Found it.

When there is a syntax error in on test non of the tests are run
The error was
[code]

Am I understanding it right? If there is an error in one of the tests, non of the tests are run?

[2017-07-20 14:47] jejacks0n commented on #523
it should error out.. are you using any error handling gems in rails?

[2017-07-20 16:05] thebravoman commented on #523
exception_handler only.

[2017-07-20 16:08] thebravoman opened #524 "runner.rb:35:in `[]': no implicit conversion of String into Integer (TypeError)"
Example is just

[code]
in any of the spec and it will throw this error on run without giving any more information.

[code]

It was really difficult to track this down, because there was a console.log() in some of the js files and at a certain point there was a call to console.log with an integer and it was breaking without even saying a line or something.

[2017-07-21 18:18] dalexander01 opened #525 "How to get jquery working with teaspoon? Uncaught ReferenceError: jQuery is not defined"
This is a super noob question I'm sure but I'm working on a legacy rails project that's a big ball of spaghetti and uses teaspoon for unit testing. I am having a hard time figuring out why teaspoon is not loading jquery. Here is a gemfile

[code]

teaspoon_env.rb

[code]

Here's spec_helper.rb

[code]

When I run teaspoon I get the following a couple of errors in 2 of my JS files that are using jq

[2017-07-21 18:32] jejacks0n commented on #525
for the life of me I can't see anyplace where you require jquery.. am I missing something? I see `third_party/terra/jquery/globalize/globalize.min.js` -- is jQuery defined inside of that?

[2017-07-21 18:36] dalexander01 commented on #525
I honestly have no idea. This is a legacy project that I have been assigned too and I have no idea what a lot of those third party dependencies are there for. If I wanted to require jquery on my own and not rely on a transitive dependency what would I need to do?

[2017-07-21 19:01] jejacks0n commented on #525
//= require jquery

before other things? As I said, how would jQuery be loaded if you're not loading it?

[2017-07-21 19:01] #525 closed

[2017-07-21 19:32] dalexander01 commented on #525
I've tried adding that to spec_helper.js and when I run teaspoon I get:

Error: ActionView::Template::Error: couldn't find file 'jquery'
  (in /home/duane/orion-date_time_picker/spec/javascripts/spec_helper.js:27)

Should it go in teaspoon_env.rb?

[2017-07-21 19:45] dalexander01 commented on #525
Here is my gemfile.lock in case that tells us anything:

[code]

[2017-07-21 19:55] dalexander01 commented on #525
I notice that jquery-ui-rails is being loaded. Is this causing any issue?

[2017-07-27 09:44] thebravoman opened #526 "No error message for - TypeError: undefined is not a function (evaluating 'expect"
Running the tests I get this error.

The problem is that I can not find a way to understand anything about this error. What is undefined? Why? Where is the error log (it is not in log/test.log). I would need some more information about this error because the result from loader.calculateRotation is defined. I can see it on the previous step, but then this occurs.

[code]

[2017-07-27 09:48] thebravoman commented on #526
Uff, it is toEquals and not toEqual.

It is awful. Took me a lot of time to spot this s. Can I configure in any way for this to be reported as  "there is no function toEquals" instead of "undefined is not a function"

?

[2017-07-27 11:19] mollerhoj opened #527 "No specs found in CLI"
Hi, I'm new to this gem. I tried setting it up for my project. It seems to work fine the browser, but I can't get the CLI to work. Running:

`bin/rake teaspoon`

returns:
[code]

I've tried with capybara_webkit and phantomjs. No luck

[2017-08-07 21:09] ameykelkar commented on #504
@sujaysudheenda
Instead of setting environment variable as `ENV['RAILS_ENV'] = 'test'`, you could try setting the rails environment by specifying `Rails.env = 'test'` in first line of `teaspoon_env.rb`

[2017-08-11 16:58] maxhudson commented on #445
@jejacks0n Agreed that it is developer's responsibility to catch syntax errors in actual code, but syntax errors in test code are very easy to miss when the suite passes. The only way to tell is the test count changing, but it still is green and obviously passes if you're using CI.

As a code-reviewer, this is even harder to catch because you're not keeping track of the number of tests that are su

[2017-08-16 21:11] soccerKevin commented on #524
I have the same problem.  it happens with console.log("1") too.
if you change it from an int to a definitive string, like console.log("a1"), then it works

[2017-08-16 22:54] jejacks0n commented on #524
interesting, hmm, wow. I think I kinda understand. I'll look into it.

[2017-08-18 22:09] md5 commented on #405
@mikepack The reason your test couldn't reproduce this is that a default scaffolded Rails app includes `coffee-rails`. I also don't think this problem is specifically related to `assets:precompile`.

Here's a test that can reproduce this:

[code]

Here's the output:

[code]

[2017-08-21 21:10] JakeLaCombe commented on #405
I'm running into this issue as well. In fact, just adding teaspoon-jasmine to the gemfile and running bundle install causes the precompilation task to fail.

[2017-09-26 10:05] sumandroid commented on #405
clearly, clearing your cache does not fix the issue.
you need to include gem 'coffee-rails' in your assets group in your Gemfile run bundle install and everything will work fine.

[2017-09-27 03:35] md5 commented on #405
I've opened https://github.com/jejacks0n/teaspoon/pull/528 to fix this.

[2017-09-28 02:51] ur5us commented on #443
Just upgraded an app from Rails 4.2.9 to 4.2.10 and this error started happening. Downgrading `sprockets-rails` to `2.x` fixes the issue. For the moment, I don’t see anything in Rails 4.2.10 related to the issue :(

[2017-10-04 01:36] agrobbin commented on #443
@ur5us I'm not sure if you're still running into this issue, but after running into it myself with Rails 4.2.10, I narrowed it down to an issue with the version comparison for the `javascript_include_tag` patch last updated in #461. I issued #529 to fix the problem longer-term.

While waiting for that fix to (hopefully) be merged and released in a new version of Teaspoon, copying the patch from [`

[2017-11-02 09:14] thbar commented on #524
@thebravoman thanks for the report. Indeed it was complicated to track down and I was starting to wonder if it was an incompatibility with the most recent phantomjs, for instance.

[2017-11-14 17:32] sandipsubedi opened #531 "Change port number"
Looks like teaspoon used port 3000 by default. My assumption is coming from here :

[code]
Something else is using port 3000. Is there a way to change the port number ? If so, how can I do that ?

[2017-11-14 17:34] jejacks0n commented on #531
https://github.com/jejacks0n/teaspoon/wiki/Teaspoon-Configuration

search for `server_port`

[2017-11-14 17:34] #531 closed

[2017-11-14 17:39] sandipsubedi opened #532 "rake teaspoon failed"
This is my first time using this gem and I am getting following error after installing and running :

[code]

It does't say what the issue is. Is there a way to know what happened and how to fix it ?

Rails 4.2.8

ruby 2.4.1p111

[2017-11-30 15:25] Sergio-Mira opened #533 "on_complete called multiple times"
We are using PhantomJS and for some reason it is reporting the same result line 3 times, which makes Teaspoon consider that it has results 3 times in a row.

Unfortunately that results in results being printed 3 times and broken JUnit reports (as too many closing tags are added).

Is there any possibility that a guard against multiple results could be added?

[2017-12-12 15:58] arielscherman commented on #443
@agrobbin Your fix hasn't been merged yet... are you aware of any reason? I am facing the same issue.

[2017-12-12 16:47] erlandsona commented on #443
Rails 4.2.0
Sprockets-Rails 3.2.0
Sprockets 3.7.1
teaspoon 1.1.5
teaspoon-jasmine 2.3.4

Any updates on this issue?

[2017-12-13 02:42] agrobbin commented on #443
@arielscherman unfortunately I'm not. I've not yet heard back on #529 from a contributor/owner to this repo.

[2017-12-15 19:24] tubbo commented on #523
we're also seeing this kind of thing happen, especially on the first run of a test suite. had a failing build for a while on CI because Teaspoon isn't doing an `exit 1` when it doesn't encounter any tests.

[2017-12-21 07:51] niltonvasques commented on #532
same problem here!

[2017-12-29 20:28] BrianHawley commented on #405
You only need to include coffee-rails in your assets group if you're using Sprockets 3+; it may be a better idea to add it to a development/test group if you aren't using CoffeeScript in your app. It's probably a good idea to add this information to the README, in the Installation section.

[2017-12-29 21:07] md5 commented on #405
I've proposed an alternate fix at https://github.com/jejacks0n/teaspoon/pull/536

I believe the issue is that `teaspoon/*.js` should not be included in the asset precompilation path.

[2018-01-24 05:30] VineethArvindFluke commented on #532
Same problem here. But with RAILS_ENV=test

[2018-02-01 22:09] maxhudson commented on #154
@jejacks0n neither of these two snippets fix this problem when a tester makes the following type of syntax error:

[code]

Tests pass and this 'example' is not counted in the example totals.

Any brilliant ideas?

Max

[2018-02-02 15:50] jejacks0n commented on #154
not really.. that on_error happens well after any parsing issues come up.. I don't recall exactly, but there's a weird convolution between sprockets handling errors in parsing, like for instance coffeescript or es6 parse errors, some gems that try and improve error reporting/exceptions -- combined with the browser layer of "this parsing exception happened long before any teaspoon javascript was pa

[2018-03-01 15:56] mgrsskls commented on #532
Same here. Rails 5.1.5, basic setup, no changes after installation.

[2018-03-08 21:45] jsilvestri opened #538 "Teaspoon not opening url in Docker"
We recently upgraded to rails 5.1 from 4.2, and in the process upgraded to teaspoon 1.1.5 as well.  I am able to get jasmine tests running with teaspoon both in a browser and by running teaspoon from the command line locally on my Mac, but I cannot get them to work in the Docker instance that used to work on rails 4.2 / teaspoon 1.1.1.  I get the error `Timed out (Selenium::WebDriver::Error::TimeO

[2018-03-09 18:06] jsilvestri commented on #538
I managed to fix this this morning by trying  `RAILS_ENV=test rake teaspoon` instead of just `teaspoon` or `bundle exec teaspoon -f documentation`.  I am so glad to have it working, but am not sure why this would make any difference?

[2018-03-09 18:10] jejacks0n commented on #538
The primary difference between how test and development (the default env that teaspoon runs in for caching/performance reasons) is usually how errors/exceptions are handled by rails. You might be seeing some exception somewhere that's causing rails to behave differently? That might be where I'd start -- hopefully helpful.

[2018-03-09 18:20] jsilvestri commented on #538
@jejacks0n is there a way to force the `teaspoon` command line interface to use `test`?  I tried `RAILS_ENV=test teaspoon`, but that has the same timeout error as initially listed in this issue.

[2018-03-16 21:37] ilyakatz commented on #517
@jpparsons how did you configure that?

[2018-03-16 23:58] jpparsons commented on #517
how did you configure that?

@ilyakatz At the time this issue was filed, not stated above, but we had the Capybara gem pinned at 2.10 and rails was not observing Capybara Puma config. So I think I just made sure the puma config set a worker count of 1.

Since then, I believe rails will now use Capybara Puma config, so the above won't put it in cluster mode. https://github.com/rails/rails/pull/3063

[2018-03-17 00:27] ilyakatz commented on #517
Got, thanks for the info. I'm having similar issues now, and stumbled upon this. Will keep trying

[2018-04-02 20:23] meowsus opened #539 "Configurable object properties not being set properly in before/after"
I've been messing around with this for about a week and feel completely crazy at this point.

In our application we have modules. We also have a configuration object which impacts these modules.

[code]

The spec helper loads our manifest

[code]

Which loads the deluge of javascript in our application (which I've omitted a ton of in this example)

[code]

Suppose I have the following code in my F

[2018-05-01 15:52] mathias opened #540 "Specifying more config options to Capybara::Webkit"
Hello,

I need to specify several options to Capybara::Webkit. In an rspec config file for acceptance tests, this would look like

[code]
etc

I am trying to pass config options to Capybara::Webkit in the appropriate spot in `teaspoon_env.rb` but it does not appear that this hash is the same as `config` above.

Is there some way to do the above in the scope of the `Capybara::Webkit` that teaspoon

[2018-05-25 11:16] Erowlin opened #542 "Allow to configure driver path"
I'm looking at a way to tell Teaspoon where the driver is installed. For now, it looks only in ~/.driver, which is not suitable for caching in circleCI.

For instance with PhantomJS, I would like to do `DRIVER_PATH=my_cached_folder/phantomjs bundle exec teaspoon`

Thanks.

[2018-05-25 15:54] jejacks0n commented on #542
It just looks in your PATH for it. If you want to, you can just do something like (speculating, haven't tried it):

[code]

[2018-05-25 15:55] #542 closed

[2018-05-25 15:59] Erowlin commented on #542
It doesn't work, I just tried it.

I don't want to be agressive, wondering why you close the issue without letting me the time to:

1. Explain furthermore if needed
2. Try your solution to see if it works
3. Actually closing while speculating

Thanks!

[2018-05-27 14:00] jejacks0n commented on #542
Because if it’s in your path it should work. Literally for everybody else that’s ever used it that’s true. If you can get a response from `which phantomjs` it works in teaspoon. This isn’t a support channel, I’m simply explaining how it works, I didn’t mean to offend by closing your issue.

---
Jeremy Jackson

[2018-06-18 22:11] JonaMX commented on #532
Same problem but with
Rails 4.2.10
Ruby 2.5.1

[2018-07-06 14:53] marienfressinaud commented on #494
Hi,

The latest version of Teaspoon is 2 years old, and we are facing the very annoying https://github.com/jejacks0n/teaspoon/issues/443#issuecomment-332712695 issue on several of our projects, fixed by https://github.com/jejacks0n/teaspoon/pull/529 which is in `master` but still not released in any official version.

Do you plan a new release soon? How can we help you to make it happen?

Thanks!

[2018-08-10 23:49] jwlms commented on #527
You probably don't have the spec file named correctly. It needs to end with `_spec.js`.

[2018-09-06 22:27] rmm5t commented on #527
I'm experiencing the same problem.

Tests work as expected in the browser, but don't show anything in the CLI. However, I do see console.log output in the CLI from the application, but no console output from the actual tests themselves.

[code]

[2018-09-07 16:51] rmm5t commented on #527
**I found a workaround.**

The problem (at least that I was experiencing) was that the phantomjs driver wasn't working. When running the suite with that driver, the tests weren't being found (or loaded) for some reason. I confirmed this when trying to run phantomjs manually using the phantomjs.js script that ships with teaspoon.

I switched to the selenium driver (tied to chrome), and things are w

[2018-09-09 19:47] vkoves commented on #492
I've had (I think), a similar issue where a file I pulled in using `require` didn't actually load because it used arrow functions. This failure was silent, which made it very difficult to trace, and I'm not sure why that isn't allowed. Do I need to convert it to ES5 code before Teaspoon can handle it?

[2018-09-10 14:52] rmm5t opened #545 "Move away from PhantomJS as default?"
With the [PhantomJS project abandoned](https://github.com/ariya/phantomjs/issues/15344), and [potential issues with teaspoon + phantomjs](https://github.com/jejacks0n/teaspoon/issues/527#issuecomment-419500403), should teaspoon change it's default driver to something else?

[2018-09-10 18:52] jejacks0n commented on #545
Yes, for sure.

[2018-09-10 18:53] jejacks0n commented on #545
I think we should just build out the selenium setup, specifically focusing on chromedriver.

[2018-09-24 08:26] thbar commented on #545
I second that - on a client's project, the build started failing on CircleCI, I _think_ because PhantomJS was moved to "legacy" (https://circleci.com/docs/2.0/circleci-images/#language-image-variants). I suspect we'll see more of that in the future on other cases.

[2018-09-27 15:57] teeparham commented on #545
For reference, to switch to selenium + chromedriver:

[code]

[2018-10-10 10:35] sanjithg opened #547 "Teaspoon worker not closing"
Teaspoon worker not closing after execution. When I check the teaspoon process, it went to **defunct** state. And it will create more defunct processes if we run again and again.
Due to this $?.exitstatus is unknown.

`$ ps -lef |grep defun
1 Z root      9919     1  0  80   0 -     0 -      02:35 ?        00:00:15 [ruby] <defunct>
1 Z root     10700     1  0  80   0 -     0 -      02:40 ?        0

[2018-10-10 21:14] EmreErdogan opened #548 "Upgrading support libraries or using different ones"
First of all, thanks for such a great gem.

I wonder if there's a way to integrate the latest versions of Mocha, Sinon, Chai, and others with Teaspoon (or a different framework like Jest). I'm using Teaspoon in a production app but not sure how to upgrade those bundled libraries.

I guess I should put the libraries that I need to somewhere and tell Teaspoon use them rather than the bundled ones. B

[2018-10-16 05:29] sanjithg commented on #547
@jejacks0n , Did you get a chance to look into this issue?

Thanks in advance.

[2018-11-13 15:55] mathias commented on #545
I seem to be caught in a Catch-22 in using Chrome with selenium-webdriver, though.

If I have the gem `gem "chromedriver"` in my Gemfile, then I can run my Capybara acceptance tests in Rspec. But Teaspoon doesn't like it.

[code]

If I remove the `gem "chromedriver"` in the Gemfile, it finds the system Chromedriver (installed with Brew on this mac) and runs the Teaspoon suite. But Capybara tests f

[2019-01-07 07:10] CloCkWeRX opened #553 "Release teaspoon-jasmine 2.9.1 and 2.4.1 via rubygems.org"
e93d3ac1b67377d6c8622b2daf01471a525367d5 Bumped the gem to 2.4.1
a509c2ef52800949a564f86119b4576bcbba5e07 Bumped to 2.9.1

... but https://rubygems.org/gems/teaspoon-jasmine only has 2.3.4.

[2019-02-06 01:11] jacksonrayhamilton commented on #510
Just ran into this myself — probably would be good to add to the docs or maybe even override (in `Rails.env.development? and `Rails.env.test?` only).

Here was my solution in case the maintainer or other bug fixers stumble upon this comment:

I changed this:

[code]

To this:

[code]

[2019-02-07 07:24] thebravoman commented on #532
anyone found anything? Were you able to resolve this?

[2019-02-07 07:27] thebravoman opened #554 "rake teaspoon failed - with something connected with sqlite3 1.4.0"
[code]
results in an error.

[code]
This is in the log/development.log

[code]

sqlite3 version 1.4.0 is installed. in the gemspec file I have

[code]

and on bundle update I could see that this is the version used.

If I add sqlite3 version ~> 1.3.6 to the gemspec than it works

[2019-02-08 13:07] josh08h opened #555 "Add support for cuprite"
Cuprite is a pure Ruby driver. Any chance of teaspoon supporting it in the near future?

[2019-02-22 22:22] henrywho commented on #554
Are you using bundler? Have you tried running `bundle exec rake teaspoon`?

[2019-02-22 22:25] henrywho opened #558 "Releasing a new gem?"
Looks like there are some changes in master that aren't in the latest gem release. Are there plans to release a new one?

[2019-02-22 22:28] jejacks0n commented on #558
How's master working for you? You seeing consistent and bug free results in your upgrade to it?

That info is a bit more useful.

[2019-02-22 22:28] #558 closed

[2019-02-25 12:10] thebravoman commented on #554
Yes, I've tried. bundle exec rake teaspoon results in the same thing

[2019-02-27 03:24] baburdick commented on #553
Release teaspoon as well. Last release to rubygems is 3 years ago (v1.1.5). Lots of valuable changes since then.

If access has been lost, make a new account and release as `jejacks0n-teaspoon`, etc.

[2019-03-06 05:32] arvinwiyono commented on #555
Push push

[2019-03-15 16:26] rovalcor opened #559 "`rake teaspoon` hangs after updating to Ruby 2.5.4"
Running `rake teaspoon` starts the server up until the worker booting, then it hangs indefinitely without running any test. Ruby 2.5.3 works just fine for me, but 2.5.4 started showing this problem. Any ideas on where to start looking?

[2019-04-07 15:29] trcarden commented on #494
Others are also interested in getting a new gem version cut:
 - https://github.com/jejacks0n/teaspoon/issues/558
 - https://github.com/jejacks0n/teaspoon/pull/519#issuecomment-480599565

[2019-04-17 18:00] mleone commented on #185
Hey folks, I'd like to reopen this issue. It looks like Jasmine **has** supported random-order specs since 2015 ( see https://github.com/jasmine/jasmine/pull/927 ). How can I get my specs to run in random order via teaspoon?

[2019-04-30 22:05] jejacks0n commented on #516
I think guard-teaspoon is officially unsupported at this point. I don't think many people were using it, and it's hard to maintain. I'd be happy to transfer it to you, or something if you're interested in maintaining it (like 2 years later). haha

[2019-04-30 22:05] #516 closed

[2019-05-06 01:24] localhostdotdev commented on #553
sorry for the bump but I was having a hard time getting chrome headless to work and then looking at the source I saw it was an older version I was using (from 4 years ago (October 09, 2015), teaspoon being last released 3 years ago (March 25, 2016))

[2019-05-09 13:30] jbosse commented on #494
The published gem is really old yet the repo seems very active lately. Some sort of update to the top of the README as to what the release plan is would be really helpful.

We have two major issues (headlessness and removing coffee script) forcing us to remove teaspoon but it looks like they have already been resolved in master.

[2019-05-09 14:15] joshm1204 commented on #545
Has anyone looked into headless browsers?  I reference this article and would love feedback on if this is a good direction to go. I am new to Teaspoon, so not sure.

https://www.puzzle.ch/de/blog/articles/2018/02/12/phantomjs-is-dead-long-live-headless-browsers

[2019-05-09 14:50] rmm5t commented on #545
@joshm1204 I think the suggested default approach here would be "Alternative 2" in the article you referenced.

[2019-05-09 16:41] jejacks0n commented on #494
I'm trying to get things merged in and released. Would welcome any help getting existing PRs shored up and passing on CI.

[2019-05-09 16:42] jejacks0n commented on #494
@pablobm -- I have CI passing, so that might make things easier?

[2019-05-09 16:43] joshm1204 commented on #545
Yes, I think a chrome's headless browser for example would be a good solution. Is there any ability to use Chrome's headless browser yet?

[2019-05-09 18:29] #509 closed

[2019-05-09 18:33] jejacks0n commented on #515
Should be fixed on master now.

[2019-05-09 18:33] #515 closed

[2019-05-09 18:34] #517 closed

[2019-05-09 19:03] jejacks0n commented on #559
It's working for me. I've updated CI to use 2.5.4, and we'll see there -- it was currently having an issue with something around selenium so I'm hoping this resolves both at the same time. 🤞

[2019-05-09 19:03] #559 closed

[2019-05-09 19:05] jejacks0n commented on #554
Ok, first, I'm not sure why you're using a gemspec. Is this a gem you're working on at the moment? Second, are you confident the site renders javascript and assets after you've updated? This really doesn't make sense as a teaspoon issue to be completely honest. Teaspoon just loads your rails server and asks for files through sprockets.

[2019-05-09 19:05] #554 closed

[2019-05-09 19:07] jejacks0n commented on #555
Seems like a fun project and I'm not opposed to the idea. There are a couple drivers already implemented that can be used to more easily understand how to implement a new one for this.

[2019-05-09 19:08] jejacks0n commented on #547
How are you running this? Just `bundle exec teaspoon`?

[2019-05-09 19:20] jejacks0n commented on #538
It looks like it can't connect to the server at the port specified. You can configure teaspoon to use a specific port, and if you're inside a docker container you need to make sure that port is something that will be available.

[2019-05-09 19:20] #538 closed

[2019-05-09 22:36] rmm5t commented on #545
@joshm1204 In addition to either using chromedriver-helper gem (deprecated) or webdrivers gem (replacement) and configuring the chromedriver version, you can do something like this inside the `teaspoon_env.rb`:

[code]

[2019-06-14 10:02] pablobm commented on #494
@jejacks0n - Sorry, what do you mean? Reviewing existing PRs? Cutting new gem versions?

[2019-06-18 14:38] joshm1204 opened #563 "Verify that tests are run (when syntax error)"
I noticed that if I make a syntax error in my teaspoon tests, a whole section of tests won't run.  Unless I am manually counting all the test, I don't know the total number that should be run.  So my fear is that I could make a mistake and a whole section of my tests never execute.

Is there a way to prevent this?  How can a get teaspoon-jasmine to error if it can not run a series of tests?

[2019-06-18 17:18] jejacks0n commented on #563
This goes way back if I recall -- it's kind of an interesting thing because the error happens before teaspoon can do anything about it. If you think about it, a syntax error would be handled at parse time, which teaspoon can't hook into at any level, because it too is being parsed and not executed at this point.

[2019-06-18 17:19] jejacks0n commented on #563
if you're doing any sort of transpiling, this can be captured by the system doing that though.

[2019-06-18 17:20] #563 closed

[2019-07-01 18:10] joshm1204 opened #564 "Element does not get assigned"
I apologize ahead of time if this is not the right place for this. Stackoverflow gets no response when posting issues with teaspoon-jasmine.

I don't know if this is a teaspoon issue or something with my code.

Would anyone know why PaymentElement never gets defined? place a debugger and run the code in the browser, I can define it. Just not when running the tests. I tried putting

      PaymentEl

[2019-07-02 01:31] joshm1204 opened #565 "Not deferring code: setTimeout(Teaspoon.execute, 100000);"
My assumption is that `Teaspoon.defer = true;` stops the code from executing and starts after 100 second with `setTimeout(Teaspoon.execute, 100000);`

However, I do not see my code slow down at all. What am I doing wrong, or is it a bug?

Teaspoon.defer = true;
 setTimeout(Teaspoon.execute, 100000); // defers execution for 100 second

[2019-07-16 14:12] snehaso opened #566 "[Headless chrome] Does not run any tests. Timesout"
Teaspoon does not run any tests and just waits.

[code]

It timesout in the end.

[2019-07-17 13:59] aharpervc commented on #566
Try the args without the `--` prefix. Also, I had to add `disable-gpu` to my args list to get things to work, ymmv

[2019-07-31 18:43] #506 closed

[2019-08-05 21:28] rafamanzo opened #567 "Using with Rails 6"
I'm starting a fresh application using Rails 6.0.0.rc2 which I'm having trouble to configure Teaspoon to work with it.

Since I have found no specific issue regarding Rails 6 and I believe this will become a recurrent theme, I'm opening this one.

The code I have been working on can be found at https://gitlab.com/interscity/health-dashboard/internasus/tree/1-create-empty-rails-app-teaspoon

So far

[2019-08-13 06:05] mathieujobin commented on #553
trying to upgrade a project to ruby 2.4

teaspoon is my only issue left...

[2019-08-13 06:36] mathieujobin commented on #553
I just pushed to rubygems
[code]

@CloCkWeRX @baburdick @localhostdotdev @jejacks0n

thinking to push latest master as well

[2019-08-13 09:52] mathieujobin commented on #567
I think you need to load both from github
[code]

[2019-08-13 12:36] rafamanzo commented on #567
Thanks for the suggestion.

I've tested it in this branch: https://gitlab.com/interscity/health-dashboard/internasus/tree/1-create-empty-rails-app-teaspoon-ii

But I'm still experiencing the same error and then the terminal is stuck:

[code]

[2019-08-20 11:37] joshm1204 opened #569 "Add verification for tests to run (FEATURE REQUEST)"
I noticed that if you have a small bug in the code, some tests do not run at all and there is no warning or error that the spec did not run.  This can lead to an unnoticed failure, which shoudl be fixed.

This is a feature request, to add a "number of tests" verification at the end.  Every time a test spec is added, it would be nice to have a separate test spec that checks the number of tests run/

[2019-08-24 18:08] thebravoman opened #570 "Can not pass --headless option to selenium firefox driver"
Tests are running successfully in browser and on CLI by opening a browser.

Trying to run the specs with selenim driver, headless

config is
[code]

Tried also
[code]
The firefox browser is opened in both cases.

The following configuration works for another gem on the same machine so I would assume the driver is generally working on this machine.

[code]

[2019-09-06 04:01] mileslane commented on #567
Is there a Rails 6.0 compatible release coming soon? I am going to have to find a replacement otherwise.

[2019-09-25 15:47] thebravoman opened #571 "Support for Jasmine 3"
Jasmine 3 is available.

How can we help for the support of Jasmine 3. Is this planed?

[2019-10-02 20:15] schneems commented on #567
I came to ask the same question. Looks like the last release https://rubygems.org/gems/teaspoon was from 2016.

[2019-10-09 16:32] NicholasYamamoto opened #572 "Add Support for Istanbul-nyc"
Currently Teaspoon requires Istanbul to run code coverage tests, but some of my work teams projects run Teaspoon tests in our Jenkins jobs, and Istanbul has since been deprecated and replaced with Istanbul-nyc. NYC also fixes some security vulnerabilities that affects some versions of Istanbul as well.

Are there plans to migrate or support Istanbul-nyc in the near future?

[2019-10-09 16:44] jejacks0n commented on #572
No plans, but I support the idea.

[2019-11-06 12:08] richhollis opened #574 "javascript_include_tag needs to support new nonce: true option"
Rails 5.2 added the nonce: true option to the asset tag helper, which when set should add the CSP nonce to the tag.

Rails: https://github.com/rails/rails/blob/b9ca94caea2ca6a6cc09abaffaad67b447134079/actionview/lib/action_view/helpers/asset_tag_helper.rb#L98-L99

Teaspon: https://github.com/jejacks0n/teaspoon/blob/dbe293dfcf61c1756f61f8696e066c436f7dd57b/lib/teaspoon/engine.rb#L107-L117

My syste

[2019-11-14 17:15] heitorsilva commented on #567
@schneems if you look at the releases in the repo, they're also stuck on 2016:
https://github.com/jejacks0n/teaspoon/releases

[2019-11-24 10:58] thebravoman commented on #428
I am kind of like in a similar situation. Running on a remote machine with 'bundle exec rake teaspoon' and the log is lost and it is useful for some debugging. I can not go to localhost:XXXX/teaspoon on the remote machine and console.log(), console.info(), console.error() do not output anything to teaspoon.

[2019-12-12 23:55] danmayer commented on #553
can we get a release cut?

[2019-12-29 16:13] arsduo commented on #567
I'm running into the same problem :( if any of you have recommendations for an alternative, I'd be grateful. Otherwise, if I find anything, I'll post it here.

[2020-01-14 01:27] dylnclrk opened #575 "New release"
Hi, just wanted to voice my support of a new Teaspoon release. There are some features on master that I'd love to use. Thanks!

[2020-02-01 01:07] rafamanzo commented on #567
I gave up on teaspoon and started using jasmine standalone.

I required some work and a lot of digging to get jasmine working. If anyone is interested on how I did it you can check the MR here: https://gitlab.com/interscity/health-dashboard/internasus/-/merge_requests/70. Each commit is supposed to have more details on its description about the changes.

[2020-02-01 12:39] mathieujobin commented on #567
Thank you @rafamanzo

[2020-03-02 16:38] danmayer commented on #575
This would be really helpful, installing from github with our current workflow ends up breaking our gem cache for every CI run ;(

[2020-03-02 16:49] jejacks0n commented on #575
Done! Let me know how it works out. I don't think I need to update/push any of the specific ones like jasmine or mocha, so let me know if this fits your needs.

[2020-03-02 16:49] #575 closed

[2020-03-02 17:23] danmayer commented on #575
our issue is actually with `teaspoon-jasmine`

`gem 'teaspoon-jasmine', github: "jejacks0n/teaspoon"`

Although, I think I justed figured out how to fix our CI cache issue by moving to bundler 2. The issue we had is bundler check would always fail due to:

[code]

and bundler 2.x moves to a secure by default github install flow.

[2020-03-03 19:20] benbcai opened #576 "teaspoon 1.2.0 causes Teaspoon::EnvironmentNotFound error"
I am getting the following `Teaspoon::EnvironmentNotFound` error when using version 1.2.0 of teaspoon that just got released yesterday. The error is coming from [find_env](https://github.com/jejacks0n/teaspoon/blob/master/lib/teaspoon/environment.rb#L29-L40). My project does have the teaspoon_env.rb file in the spec folder. The error does not occur when locking the version to 1.1.5.

[code]

My pr

[2020-03-03 19:46] jejacks0n commented on #576
Interesting. I'll look into it.. does it work if you move it up to the root of the project? (I'm not proposing this as the solution, I'm just trying to understand.

[2020-03-03 20:28] benbcai commented on #576
Thanks @jejacks0n for looking into this. I moved teaspoon_env.rb to the project's root folder and still got the same error.

[2020-03-06 16:43] kuzmik opened #577 "Selenium Timeout with Rails 6"
[code]

I am attempting to run `teaspoon --driver=selenium --server-port=31337 --format=documentation  spec/javascripts/vendoring/integration_form_spec.js` and for some reason the `Rails.env` defaults to "development." This causes a bit of a problem with other gems we use, so I throw a RAILS_ENV=test on there, and the environment is set correctly, but I am still getting timeouts.

[code]

Under ra

[2020-03-06 18:08] kuzmik commented on #577
It looks like it's actually CSP related:

```Refused to execute inline script because it violates the following Content Security Policy directive: "default-src 'self'". Either the 'unsafe-inline' keyword, a hash ('sha256-8fSyr/FANJTl286qJs3wNGU79q3WhHisHAwlSDlZf+c='), or a nonce ('nonce-...') is required to enable inline execution. Note also that 'script-src' was not explicitly set, so 'default-sr

[2020-03-10 10:30] ukdave opened #578 "Coverage output path ignored in 1.2.0"
I just upgraded teaspoon from 1.1.5 to 1.2.0 and noticed that the HTML coverage report is no longer generated in the directory that I have configured.

My configuration in `teaspoon_env.rb` looks like this:

[code]

After updating to 1.2.0 the coverage report is generated in `coverage` instead of `log/coverage/js`.

I've had a look through the source code and I believe the issue is in how the argu

[2020-03-10 16:53] jejacks0n commented on #578
Thanks for this @ukdave, would you be willing to submit a PR to resolve this?

[2020-03-11 09:04] ukdave commented on #578
Sure, I've submitted a pull request #579 to resolve this.

[2020-03-13 11:08] hidroo commented on #185
Hello, guys, I am on the same train here. Would like to run my tests in random order.

[2020-04-14 04:26] thebravoman opened #580 "Reload window on every jasmine spec in teaspoon"
Using teaspoon and jasmine to test some JS. The js is putting things in 'window'.

I think there should be a way to completely reload the page for every spec so that this 'window' is newly initialized and to receive a new 'on document load', but I can not find it in the code or in the documentation.

[2020-04-18 13:46] la-ruby commented on #545
i'm using a modified version of ^ snippet to, like solidus does at
`solidus/backend/spec/teaspoon_env.rb`.
otherwise a chrome window appears , which shouldn't if it was truly headless.
[code]

[2020-04-21 06:23] mathieujobin commented on #553
looks like we have

[2020-05-08 17:40] ghiculescu commented on #567
version 1.2 has been released. i assume it includes the rails 6 fixes. https://github.com/jejacks0n/teaspoon/releases

[2020-05-08 17:40] ghiculescu commented on #567
changelog is out of date :( https://github.com/jejacks0n/teaspoon/blob/master/CHANGELOG.md

[2020-05-20 10:24] thebravoman opened #581 "Browser console output should be logged to log/development.log"
Running specs from browser. Console log in browser contains things like
[code]
These are errors that my tests output as error in the console, because of some promises.

What I can not find and I think should be added to the documentation is how to get this error logged to log/development.log when I am starting teaspoon from cli

[2020-05-21 19:50] eric-hemasystems commented on #574
Workaround until this is fixed. Drop this in your `helpers` directory:

[code]

[2020-05-25 08:43] hidroo commented on #581
I would like to see this resolved as-well.

[2020-05-27 11:00] awaismbajwa commented on #576
We had the similar issue in our teaspoon environment.
But this does not happen in teaspoon 1.1.5, so we are staying with version 1.1.5.
May be something related to env file lookup got changed in the new version of teaspoon

[2020-09-10 23:17] mikewindow commented on #553
Will the teaspoon-jasmine gem be updated on rubygems? https://rubygems.org/gems/teaspoon-jasmine still shows 2.3.4 as the latest version.

[2020-09-17 18:36] mikewindow commented on #553
@mathieujobin Is mj-teaspoon-jasmine the official replacement for teaspoon-jasmine?

https://rubygems.org/gems/mj-teaspoon-jasmine

[2020-09-17 20:00] jejacks0n commented on #553
I can add somebody as a maintainer if you'd like.

[2020-09-18 09:45] thebravoman commented on #553
What really is the difference between the two - teaspoon-jasmin vs mj-teaspoon-jasmin? https://rubygems.org/search?utf8=%E2%9C%93&query=teaspoon-jasmine

[2020-09-18 22:54] mikewindow commented on #553
The teaspoon-jasmine, teaspoon-mocha, and teaspoon-qunit gems haven't been updated since 2015. The main teaspoon gem has been updated on rubygems and seems like it an oversight that the framework gems updates weren't uploaded.

[2020-09-18 22:56] mikewindow commented on #553
mj-teaspoon-jasmine is a snapshot of teaspoon-jasmine 2.9.1 alpha before rails 6 was fully supported.

https://rubygems.org/gems/mj-teaspoon-jasmine/versions/2.9.1.pre.a509c2e
https://github.com/jejacks0n/teaspoon/commit/a509c2e

[2020-09-28 19:01] mikewindow commented on #553
@mathieujobin Are you planning to update your mj-teaspoon-jasmine gem?

[2020-10-07 11:11] mathieujobin commented on #553
No the mj- prefixed was an attempt but it's no good. I should Yank it.

This gem is very annoying to rename has it contains multiple with dependencies

We need a new maintainer to make an official release

[2020-10-29 02:48] la-ruby opened #584 "TypeError: undefined is not an object (evaluating 'window.SpreePaths.mounted_at')"
I wrote a test in a rails application that has spree commerce,
when I run it in console I get: TypeError
The browser based test suite passes though.

[code]

[2021-01-10 10:19] mathieujobin opened #585 "[ANN] Looking for a new maintainer"

[2021-01-14 09:48] TeamNautilus opened #586 "Ruby 3.0.0"
We tried to update the **ruby** version to **3.0.0** but after the command *bundle* we received the message:

*teaspoon-1.2.0 requires ruby version ~> 2.4, which is incompatible with the current version, ruby 3.0.0p0*

we use the version **2.3.4** of **teaspoon-jasmine**.
Any idea?

Thank you

[2021-01-20 06:49] a2ikm commented on #586
https://github.com/jejacks0n/teaspoon/pull/583 will fix the issue.

[2021-02-04 23:27] EddieOne commented on #356
Is that the solution or the question? Facing the same problem.

[2021-03-09 01:41] mathieujobin opened #587 "Migrate from Travis to use Github Actions"
It does not look like Travis is running tests anymore. they are providing less and less supports for opensource.

we should look at using github actions instead

[2021-03-11 04:05] mathieujobin commented on #576
looking at the changes between 1.1.5 and 1.2.0
I believe you should be able to set `ENV["TEASPOON_ENV"]` to the path to your env file as a work around.

the problem was likely introduced around this change https://github.com/jejacks0n/teaspoon/commit/5b912da349a11d12ccdf1705a1aeb79e4f1e3a57

but i'm not finding exactly what is wrong.

[2021-03-11 04:45] mathieujobin commented on #553
@jejacks0n give me access, I'll push those

[2021-03-11 21:41] mathieujobin commented on #585
@mikepack Are you the only one with push access to `teaspoon-jasmine` ?
could you give both @jejacks0n and me push access?

[2021-03-11 22:39] #494 closed

[2021-03-11 22:56] mathieujobin commented on #518
looks like #537 properly fix this issue, please reopen if you disagree

[2021-03-11 22:56] #518 closed

[2021-03-11 23:16] mathieujobin commented on #585
I am closing this, but anyone interested in making this gem better or fixing bugs is more than welcome to chime in

cheers

[2021-03-11 23:16] #585 closed

[2021-03-11 23:17] mathieujobin commented on #586
master branch has the ruby version unlock.
if you encounter issues and you figure them out, please open a PR

thanks

[2021-03-11 23:17] #586 closed

[2021-03-11 23:17] mathieujobin commented on #587
done

[2021-03-11 23:17] #587 closed

[2021-03-11 23:19] mathieujobin commented on #584
what version of teaspoon are you using? what other gems is also in use?

[2021-03-11 23:24] mathieujobin commented on #580
if you know of a good way to make it please, please open a PR with your proposed changes

thanks

[2021-03-11 23:25] mathieujobin commented on #581
it indeed sounds like a good suggestion, if you can make the change, please open a PR

[2021-03-11 23:35] mathieujobin commented on #572
@NicholasYamamoto would you be able to make a PR for this?

[2021-03-11 23:40] mathieujobin commented on #578
I merged #579
thank you

[2021-03-11 23:40] #578 closed

[2021-03-11 23:42] mathieujobin commented on #584
can you please retry with latest master?

[code]

[2021-03-11 23:43] mathieujobin commented on #577
I have rebased the PR #561 into a new branch

would you be willing to try it on your end?

[code]

[2021-03-11 23:45] mathieujobin commented on #574
@eric-hemasystems can your patch be merged ?

[2021-03-11 23:47] mathieujobin commented on #571
need to add new gemfiles to distinguish between the two version of jasmine
and determine what needs to be fixed

would you be able to do that?

[2021-03-11 23:50] mathieujobin commented on #570
Can you open a PR with the suggested change?

thank you

[2021-03-11 23:58] mathieujobin commented on #567
changelog was updated and 1.2.0 presumably fully support rails 6

release will be pushed to rubygems a little later

please use latest master from github in the mean time

[code]

[2021-03-11 23:58] #567 closed

[2021-03-11 23:59] mathieujobin commented on #565
did you figure it out ?

[2021-03-12 00:00] mathieujobin commented on #555
would you be so kind to open a PR with the proposed change?

[2021-03-12 02:33] mathieujobin commented on #526
I don't know @thebravoman

this seems like a JS thing, maybe there is a way to catch the error and throw a more descriptive one.

[2021-03-12 03:01] mathieujobin commented on #553
[code]

[2021-03-12 03:01] #553 closed

[2021-03-12 03:13] mathieujobin commented on #540
sounds good, PR welcome ;)

[2021-03-12 03:14] mathieujobin commented on #539
I'm sorry no one ever answered to you here, but after 3 years... I wondering.. did you ever figure this out ?

[2021-03-12 03:39] mathieujobin opened #589 "Support newer version of Jasmine"
For versions of jasmine 3.x

I am not going to merge anything just yet
but I have created branches with almost every 3.x releases

just use the correct branch in your gemfile.

[code]

[2021-03-12 03:45] mathieujobin commented on #428
is this possible this answer here https://github.com/jejacks0n/teaspoon/issues/524 is exactly what this issue is about ?

[2021-03-12 03:49] mathieujobin opened #590 "How to use headless chrome with Teaspoon"
See this issue for an answer

https://github.com/solidusio/solidus/pull/2534

[2021-03-12 14:53] eric-hemasystems commented on #574
My hack probably isn't directly suitable for being put in this project. What it does it provides a new helper that then calls your helper (via `super`) which is still the overwritten version of what was in an old version of Rails.

Ideally it would be nice if your `debug` option could be added somehow without completely replacing Rail's impl of `javascript_include_tag` but I cannot really think of

[2021-03-12 15:46] kuzmik commented on #577
Oh, unfortunately I've since changed jobs and no longer have access to that code base. I'll ping a former coworker and see if they can try it out.

Thank you, though!

[2021-03-12 20:27] dparpyani commented on #577
Thanks for the ping @kuzmik 👋

@mathieujobin I'm seeing the issue on the new branch

[code]

[2021-03-15 12:10] mathieujobin commented on #577
@dparpyani I'm afraid this can be a lot of things. let me know if you find out more details if you have time to debug this.

[2021-03-15 20:56] mathieujobin commented on #574
That makes sense.

Hopefully that method only changed for 5.x and 6.x, meaning that if we drop support for Rails 4.x and below.
there would be only two versions to keep.

[2021-03-15 21:02] mathieujobin commented on #574
4.2
[code]

5.0
[code]
5.1
[code]
5.2
[code]
6.0
[code]
6.1
[code]

[2021-03-15 21:24] mathieujobin commented on #574
@eric-hemasystems I am not even finding where this `debug` option is used.
maybe we should just remove that super legacy monkey patch

looking at the git history
it was introduced to fix https://github.com/jejacks0n/teaspoon/issues/443 and this issue contains several other proposal solutions.

I think they monkeypatch should be removed like you said.

This issue has good info as well
https://githu

[2021-03-15 21:46] eric-hemasystems commented on #574
I looks like it's used by sprockets (what implements the Rails asset pipeline):

https://github.com/rails/sprockets-rails/blob/master/lib/sprockets/rails/helper.rb#L140

A slight earlier version of where this was introduced was here:

https://github.com/jejacks0n/teaspoon/pull/318/files

It looks like the goal is when running the test suite to ensure the assets are easier to debug by not doing the

[2021-03-16 00:08] mathieujobin commented on #574
@eric-hemasystems I like your suggestions to simply set the config option. I really don't like we have a monkey patch for debugging purposes running in production.

I open this pull request to remove it. https://github.com/jejacks0n/teaspoon/pull/591
which effectively close this issue, as we won't need to update the monkey patch to add the new `nonce: true` option

[2021-03-16 08:26] mathieujobin commented on #574
This won't be needed as the monkey patch will be removed in v1.2.2

[2021-03-16 08:26] #574 closed

[2021-03-16 09:31] mathieujobin commented on #577
Look what I did there 805523c55eb0

hopefully this helps with your problem?

[2021-03-16 09:33] mathieujobin commented on #570
works for me, tests run in firefox headless locally and on CI
browser window is not opening when using headless
see 805523c55eb0 for details

[2021-03-16 09:33] #570 closed

[2021-03-16 09:34] mathieujobin commented on #576
@benbcai can you please test with `1.2.1` and `1.2.2` ?

thanks

[2021-03-16 12:14] mathieujobin commented on #577
this seems to be a selenium config problem, not teaspoon related
reopen if I am wrong and you have more details

[2021-03-16 12:17] mathieujobin commented on #512
would be nice to have a fix for this, since ruby3 no longer ships with webrick.
so moving the CI build to use `puma` instead would be much appreciate
any volunteer?

[2021-03-16 12:18] mathieujobin commented on #505
too old, please open a new issue if you still need help
sorry

[2021-03-16 12:18] #505 closed

[2021-03-16 12:19] mathieujobin commented on #503
4 years and a half later... I guess not
please open a PR if you are serious about this

[2021-03-16 12:19] #503 closed

[2021-03-16 12:21] mathieujobin commented on #500
tests are now running on github actions, thank you

[2021-03-16 12:21] #500 closed

[2021-03-16 12:22] #495 closed

[2021-03-16 12:24] #504 closed

[2021-03-16 12:26] #497 closed

[2021-03-16 12:30] mathieujobin commented on #487
any idea if this is still valid?

[2021-03-16 12:31] #491 closed

[2021-03-16 12:31] mathieujobin commented on #482
this is solved now

[2021-03-16 12:31] #482 closed

[2021-03-16 12:33] mathieujobin commented on #470
looks like the patch for this was merged
thank you

[2021-03-16 12:33] #470 closed

[2021-03-17 20:47] dparpyani commented on #577
Our teaspoon-jasmine was pinned to e952dbc35fb08528a6802eb24b806e2361b7927e and had the following added to our CSP config for it to work (using the [secure-headers](https://github.com/github/secure_headers) gem):
[code]
When using the pr-561 branch, it neither worked with nor without the script-src setting (and failed with the timeout error mentioned above). However, I unpinned the teaspoon-jasmin

[2021-03-17 22:04] mathieujobin commented on #577
I see, thanks for the extra troubleshooting and information. I'm not familiar with CSP or the secure-headers gem

what do you suggest we do so it works for people out of the box?

[2021-03-17 22:35] dparpyani commented on #577
The secure-headers gem sets safe defaults for a bunch of important headers, CSP being one of them. In this case, we're modifying the CSP header during tests to allow 'unsafe-inline' for the script-src directive, which:

(from https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/script-src)

See [here](https://content-security-policy.com/unsafe-inline/) for more example

[2021-03-21 12:08] thebravoman opened #593 "Coverage when specs are in test/dummy"
I am developing a rails engine.
Specs are in test/dummy/spec.
It works ok except for coverage
When I run the coverage only the code from test/dummy app is included and not the code from the real app

Do you know how I could include specific asset paths in the coverage

[2021-03-21 12:11] thebravoman commented on #593
Aha, found it. I had to suites and the second one was overrriding the first one

[2021-03-21 12:11] #593 closed

[2021-04-20 12:04] yuujay opened #594 "Is teaspoon-mocha actively managed?"
I am trying to adopt teaspoon-mocha for one of my projects, when I tried setting up mocha configurations in the `teaspoon_env` I observe that mocha `2.3.3` is the version that is considered the latest. Is my understanding right?

My question is, will I be able to use the latest version(~8.3) of mocha that I see from npm?

[2021-04-20 14:13] mathieujobin commented on #594
I'm afraid there are no maintainers on the mocha side
but if you are willing to open a PR with a fix. I can review, etc.

[2021-04-20 14:15] mathieujobin commented on #594
if it works like teaspoon-jasmine, you would need to add mocha 8.3 into the teaspoon-mocha and make sure all tests pass with it

[2021-04-20 15:22] yuujay commented on #594
Thanks for confirming. Will submit a PR / reopen this issue when some of the tests start to fail.

[2021-04-20 15:22] #594 closed

[2021-06-22 04:07] saikumar-everest commented on #527
Is there anyway to fail `teaspoon` command with non-zero output when it finds 0 tests?

[2021-06-30 02:12] mathieujobin commented on #527
@saikumar-everest not that I know of.
I don't think rspec or cucumber complains about having ran no tests either, but I could be wrong.

[2021-07-13 19:55] savy-stockpile commented on #584
I have the same issue, even tried with the latest master.

[2022-06-15 14:37] transfer76 commented on #576
Hi guys! Is this issues was resolved?
Have same error
rails 6.1
ruby 2.7
Thanks

[2022-06-15 23:27] mathieujobin commented on #576
I'm not too sure, I don't have this problem. I am also running Rails 6.1 and ruby 2.7

[code]
and my config looks like this

[code]

I run `RAILS_ENV=test teaspoon` with `xvfb`

[2022-10-05 11:19] marko-avlijas commented on #576
What is wrong is that if an engine overrides `Rails.root`, than teaspoon 1.2 is breaking it.
I think this change is breaking and teaspoon 1.2 should have been teaspoon 2.0.

Additionally I think `Teaspoon.root` should not be relevant when looking for `teaspoon_env.rb`. `teaspoon_env.rb` should just looked in project directory (or current directory), not `Rails.root` or `Teaspoon.root`.
Why?  Becau

[2022-10-05 15:10] jejacks0n commented on #576
Why would an engine override `Rails.root`?

I kind of understand the point you're making, but like.. put the file in the path relative to whatever is returned in `Rails.root`, overridden, or otherwise. Right?

[2022-10-05 15:29] marko-avlijas commented on #576
Why would rails root be overridable if i'ts bad or not necessary? :)

To answer your question: I don't know. I am new to the company and I've seen it overridden in many places with comment it's for testing. I just know I've encountered this issue when upgrading to rails 6.

[2022-10-05 16:05] marko-avlijas commented on #576
It's done like this:
`Rails.application.config.root = 'whatever/i/want'` :smile:

TBH I don't know why you would do that, but I suspect everyone in this thread experiencing this issue has rails root changed whether they know it or not.

If anything I can suggest improving error message to include what folder it was looking in.

Before:
`Unable to locate environment; searched in [spec/teaspoon_env.